<!DOCTYPE html>
<!--[if IE 8]>        <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>        <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>CCTM - 어린이집 CCTV 관리 서비스 By 이편한시스템(주)</title>
        <meta name="keywords" content="어린이집,CCTV,CCTM" />
        <meta name="description" content="어린이집 CCTV 관리 서비스" />
        <meta name="Author" content="이편한시스템(주) [www.ejboo.com]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <!-- Favicon -->
        <link rel="shortcut icon" sizes="16x16" href="/favicons/favicon-16x16.png" />
        <link rel="shortcut icon" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="shortcut icon" sizes="96x96" href="/favicons/favicon-96x96.png" />
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png" />
        <link rel="apple-touch-icon-precomposed" href="/favicons/apple-touch-icon-60x60.png" />

        <!-- WEB FONTS -->
        <link href="/stylesheets/font.css" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        {% if not print %}
            <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/line-icons.css" rel="stylesheet" type="text/css" />
            <link href="/assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
            <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/flexslider.css" rel="stylesheet" type="text/css" />

            <!-- REVOLUTION SLIDER -->
            <link href="/assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/layerslider.css" rel="stylesheet" type="text/css" />

            <!-- BLOG -->
            <link href="/assets/css/layout-blog.css" rel="stylesheet" type="text/css" />

            <!-- THEME CSS -->
            <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/header-4.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/footer-default.css" rel="stylesheet" type="text/css" />
            <link href="/assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

            <!-- Morenizr -->
            <script type="text/javascript" src="/assets/plugins/modernizr.min.js"></script>
        {% endif %}

        <!--[if lte IE 8]>
            <script src="/assets/plugins/respond.js"></script>
        <![endif]-->

        <!-- CUSTOM -->
        <link href="/stylesheets/custom.css" rel="stylesheet" type="text/css" />
        <link href="/stylesheets/client.css" rel="stylesheet" type="text/css" />

        <style>
            .mfp-iframe-scaler iframe {
                background-color: #fff;
            }
        </style>
        {% block stylesheet %}{% endblock %}
    </head>

    <body class="smoothscroll boxed pattern11">
        <div id="wrapper">
            {% if not print %}
                <div id="header">
                    <!-- Top Bar -->
                    <header id="topBar" style="min-height: 0px; z-index: 1001;">
                        <div id="barMain" style="z-index: 1001;">
                            <nav class="nav-second">
                                <ul class="nav nav-pills nav-second">
                                    {% if user and user.id %}
                                        {% if user.email != 'checker@cctm.kr' %}
                                            <li><a href="/user/edit"><i class="fa fa-angle-right"></i> 회원정보</a></li>
                                        {% endif %}
                                        <li><a href="https://939.co.kr/2703" class="lightbox" data-plugin-options='{"type":"iframe"}'><i class="fa fa-angle-right"></i> 원격지원</a></li>
                                        <li><a href="/user/logout"><i class="fa fa-angle-right"></i> 로그아웃</a></li>
                                    {% else %}
                                        <li><a href="/user/login"><i class="fa fa-angle-right"></i> 로그인</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </header>
                    <!-- /Top Bar -->

                    <!-- Top Nav -->
                    <header id="topNav">
                        <div class="container" style="padding-left: 0; padding-right: 0">
                            <!-- Mobile Menu Button -->
                            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse" style="margin-top: 3px; float: left; margin-left: 3px;">
                                <i class="fa fa-bars"></i>
                            </button>

                            <!-- Top Nav -->
                            <div class="navbar-collapse nav-main-collapse collapse">
                                <nav class="nav-main">
                                    <ul id="topMain" class="nav nav-pills nav-second">
                                        <!--
                                        <li>
                                            <a href="/">홈</a>
                                                대쉬보드 형태로
                                                제일 상단에 장비 내역
                                                그리고 담당자 이름, 연락처

                                                장비 상태 개별 표시
                                                카메라 1 정상
                                                .
                                                .
                                                .
                                                레코더 상태 정상
                                                셋탑박스 상태 정상

                                                그 아래로 숫자만 표시
                                                최근 열람 5개, 최근 파기 5개
                                                최근 유출 5개, 최근 파일 목록 5개
                                                가 표시됨
                                        </li>
                                        -->
                                        <li>
                                            <a href="/live/list">실시간 영상</a>
                                            <!--
                                                첫화면 전체 분할 화면 표시
                                                일반 사용자: 모자이크 jpeg
                                                관리자: 실시간 영상 (일단 main, sub)
                                                전체 분할 클릭시 고화질로 한개의 화면만 표시 (관리자의 경우 전체 보기 가능) (main)
                                            -->
                                        </li>
                                        <li>
                                            <a href="/file/list">녹화 파일</a>
                                            <!--
                                                기간별 검색 (파일 내역만 표시됨)
                                                이 메뉴에서 열람신청할 수 있음
                                                관리자의 경우 바로 볼수 있고 개인영상정보 관리대장에 이용으로 기록됨
                                                서브메뉴
                                                 - 전체
                                                 - 카메라 1
                                                 - 카메라 2
                                                 - 카메라 3
                                                 - 카메라 4
                                                 - 카메라 5
                                            -->
                                        </li>

                                        <!--
                                        <li>
                                            <a href="/equipment">장비 상태</a>
                                                첫 페이지에 장비 상태가 모두 표시되고
                                                로그를 조회할 수 있음
                                                서브메뉴
                                                 - 전체
                                                 - 카메라 1
                                                 - 카메라 2
                                                 - 카메라 3
                                                 - 카메라 4
                                                 - 카메라 5
                                        </li>
                                         -->

                                        <li>
                                            <a href="/management/list">열람 및 파기</a>
                                            <!--
                                                개인영상정보 관리대장의 일부 내용이 목록으로 표시됨 (일자....)
                                                일반사용자는 열람, 파기 신청이 가능함
                                                원장은 추가로 개인영상정보 관리대장 및 파기대장 다운로드가 가능함
                                                또 상세내용 조회가 가능함
                                                일반사용자도 자기거는 상세조회 가능
                                                (마이페이지로 빼는 방안 생각중)
                                            -->
                                        </li>
                                        <li>
                                            <a href="/leakage/list">유출 내역</a>
                                            <!--
                                                유출내역의 일부가 표시됨
                                                원장은 추가로 유출 내역 등록이 가능함
                                            -->
                                        </li>
                                        <!--
                                        <li>
                                            <a href="/live-view">녹화 파일 검색</a>
                                        </li>
                                        <li>
                                            <a href="/live-view">실시간 보기</a>
                                        </li>
                                        <li>
                                            <a href="/inspection">열람 신청</a>
                                        </li>
                                        <li>
                                            <a href="/destruction">파기 신청</a>
                                        </li>
                                        <li>
                                            <a href="/leakage">유출 등록</a>
                                        </li>
                                        <li>
                                            <a href="/report">보고서</a>
                                        </li>
                                        <li>
                                            <a href="/personal-information-managment-history">영상 관리</a>
                                        </li>
                                        <li>
                                            <a href="/personal-information-managment-history">열람 관리</a>
                                        </li>
                                        <li>
                                            <a href="/personal-information-managment-history">유출 관리</a>
                                        </li>
                                        <li>
                                            <a href="/personal-information-managment-history">영상정보 관리내역</a>
                                        </li>
                                        <li>
                                            <a href="/personal-information-leakage-history">개인정보 유출내역</a>
                                        </li>
                                        -->
                                    </ul>
                                </nav>
                            </div>
                            <!-- /Top Nav -->
                        </div><!-- /.container -->
                    </header>
                    <!-- /Top Nav -->
                </div>
            {% endif %}

            {% block content %}{% endblock %}

            {% if not print %}
                <!-- FOOTER -->
                <footer id="footer" style="border-top: 0">
                    <div class="copyright">
                        <div class="container text-center fsize12">
                            <!--
                            사업자등록번호 206-86-44880 | 통신판매업 신고번호 제2015-서울강동-0150호 | 대표자 박진산
                            <br/>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:admin@cctm.kr">admin@cctm.kr</a>
                            &bull;
                            <i class="fa fa-phone"></i>
                            <a href="tel:1566-2703">1566-2703</a>
                            &bull;
                            <i class="fa fa-map-marker"></i>
                            <a href="https://www.google.co.kr/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B0%95%EB%8F%99%EA%B5%AC+%EC%84%B1%EB%82%B4%EB%8F%99+461-12/@37.5259933,127.1259242,16z/data=!3m1!4b1!4m2!3m1!1s0x357caff5f8b9fd05:0xff852b16b4771d8d" target="_blank">서울시 강동구 성내동 461-12 2F</a>

                            <br/>
                            -->
                            <!--
                            <a href="/terms" class="fsize11">이용약관</a>
                            &bull; 
                            <a href="/policy" class="fsize11">개인정보취급방침</a>
                            &bull; 
                            -->
                            {% if user.email != 'ssjang1125@naver.com' %}
                                <a href="/policy/management" class="fsize11">내부관리계획</a>
                                <br/>
                                <br/>
                            {% endif %}
                            <!--
                            &bull; 
                            <a href="/browser" class="fsize11">브라우저지원</a>
                            -->

                            &copy; 2015 <a href="http://www.ejboo.com" target="_blank" class="copyright">이편한시스템(주).</a> All Rights Reserved.
                        </div>
                    </div>
                </footer>
                <!-- /FOOTER -->

                <a href="#" id="toTop"></a>
            {% endif %}
        </div><!-- /#wrapper -->

        {% block footer %}{% endblock %}

        <!-- JAVASCRIPT FILES -->

        {% if not print %}
            <script type="text/javascript" src="/assets/plugins/jquery-2.1.4.min.js"></script>
            <script type="text/javascript" src="/assets/plugins/jquery.isotope.js"></script>
            <script type="text/javascript" src="/assets/plugins/masonry.js"></script>
            <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
            <script type="text/javascript" src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
            <script type="text/javascript" src="/assets/plugins/knob/js/jquery.knob.js"></script>
            <script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>

            <!-- REVOLUTION SLIDER -->
            <script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
            <script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
            <script type="text/javascript" src="/assets/js/revolution_slider.js"></script>

            <script type="text/javascript" src="/assets/js/scripts.js"></script>
        {% endif %}

        {% block javascript %}{% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-67135776-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
