{% extends '../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">처음으로</a></li>
                    <li class="active">문의하기</li>
                </ul>
                <h2 style="border-bottom: 0">
                    문의하기
                </h2>
            </header>
        </div>
    </section>
{% endblock %}
