{% extends '../index.html' %}

{% block subject %}
    <h2>장애 상태</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">처음</a>
        </li>
        <li class="active">
            <strong>장애 상태</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <div class="m-b">
                {% include './page.html' %}
            </div>

            <div class="table-responsive project-list">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th nowrap="nowrap">
                                어린이집명
                            </th>
                            <th nowrap="nowrap">
                                이메일주소
                            </th>
                            <th nowrap="nowrap">
                                도메인명
                            </th>
                            <th nowrap="nowrap" style="width: 230px">
                                SETTOP 아이디
                            </th>
                            <th nowrap="nowrap" style="width: 120px">
                                SETTOP 아이피
                            </th>
                            <th nowrap="nowrap" style="width: 230px">
                                DRV 아이디
                            </th>
                            <th nowrap="nowrap" style="width: 120px">
                                버전
                            </th>
                            <th nowrap="nowrap" style="width: 75px">
                                온일자
                            </th>
                            <th nowrap="nowrap" style="width: 75px">
                                오프일자
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                            <tr>
                                <td nowrap="nowrap">
                                    {% if client.pending %}
                                        <div style="display: inline; padding-right: 5px;"><span class="label label-warning">Pending</span></div>
                                    {% else %}
                                        <div style="display: inline; padding-right: 5px;">{% if client.online %}<span class="label label-success">Online</span>{% else %}<span class="label label-plain">Offline</span>{% endif %}</div>
                                    {% endif %}
                                    <div style="display: inline; padding-right: 5px;">{% if client.lock %}<span class="label label-success">Lock</span>{% else %}<span class="label label-plain">Unlock</span>{% endif %}</div>{{ client.name }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ client.email }}
                                </td>
                                <td nowrap="nowrap">
                                    <a href="https://{{client.domain_name}}" target="_blank">{{ client.domain_name }}</a>
                                </td>
                                <td nowrap="nowrap">
                                    {{ client.settop_id }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ client.public_ip }}
                                </td>
                                <td nowrap="nowrap">
                                    <a href="https://{{ client.recorder_id }}.cctm.co.kr" target="_blank">{{ client.recorder_id }}</a>
                                </td>
                                <td nowrap="nowrap" style="font-size: 11px">
                                    {{ client.settop_version }} / {{ client.recorder_version }} / {{ client.firmware_version }}
                                </td>
                                <td nowrap="nowrap" style="font-size: 11px">
                                    {{ client.online_date | date('YYYY-MM-DD') }}
                                </td>
                                <td nowrap="nowrap" style="font-size: 11px">
                                    {{ client.offline_date | date('YYYY-MM-DD') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6" style="padding: 10px; text-align: center;">표시할 항목이 없습니다.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="m-b">
                {% include './page.html' %}
            </div>
        </div>
    </div>
{% endblock %}
