{% extends '../index.html' %}

{% block javascript %}
    <script>
        $(function() {
            $('.submit').click(function() {
                $.ajax({
                    url:'/user/login',
                    method: 'post',
                    dataType: 'json',
                    data: {
                        email: $('input[name=email]').val().trim(),
                        password: $('input[name=password]').val().trim(),
                        save: $('input[name=save]:checked').val()
                    }
                }).done(function(user) {
                    if (user) {
                        location.href = '/';
                    } else {
                        alert('이메일 또는 패스워드가 일치하지 않습니다.');
                    }
                }).error(function() {
                    alert('서비스 사용량이 많아 일시적으로 로그인에 실패하였습니다. 잠시 후 다시 시도해주세요.');
                });

                return false;
            });

            var onKeyup = function(e) {
                if (e.keyCode == 13) {
                    $('.submit').click();
                }
            };
            $('input[name=email]').keyup(onKeyup);
            $('input[name=password]').keyup(onKeyup);
        });
    </script>
{% endblock %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li class="active">로그인</li>
                </ul>
                <h2 style="border-bottom: 0">
                    로그인
                </h2>
            </header>
        </div>          
    </section>
    
    <section>
        <div class="container">
            <div style="width: 50%; margin: 0 auto;">
                <form action="/user/login" method="post" class="sky-form boxed">
                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="input" name="email" placeholder="이메일" value="{{ email }}">
                                <b class="tooltip tooltip-bottom-right">이메일을 입력해주세요.</b>
                                <!--
                                <b class="tooltip tooltip-bottom-right">회원가입시 사용하신 이메일 주소를 입력해주세요.</b>
                                -->
                            </label>
                        </section>

                        <section class="nomargin">
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password" placeholder="패스워드">
                                <b class="tooltip tooltip-bottom-right">패스워드를 입력해주세요.</b>
                            </label>
                            <!--
                            <div class="text-center">
                                <div class="note"><a href="#">회원가입</a> • <a href="#">패스워드 찾기</a></div>
                            </div>
                            -->
                        </section>

                        <section class="nomargin">
                            <label class="checkbox"><input type="checkbox" name="save" {% if email %}checked="checked"{% endif %}><i></i> 이메일 저장</label>
                        </section>
                    </fieldset>

                    <footer style="margin: 0 15px 10px 15px;">
                        <button type="button" class="submit button">로그인</button>
                    </footer>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
