{% extends '../index.html' %}

{% block javascript %}
    <link href="/assets/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <script>
//        $(function() {
//            $('.datepicker').datepicker({ 
//                format: 'YY-MM-DD',
//                singleDatePicker: true
//            }, function(start, end, label) {
//                alert('A date range was chosen: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
//            });
//        });
    </script>
{% endblock %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="#">홈</a></li>
                    <li class="active">유출 내역</li>
                    <li class="active">유출신고서 작성하기</li>
                </ul>
                <h2 style="border-bottom: 0">
                    유출신고서 작성하기
                </h2>
            </header>
        </div>          
    </section>

    <section>
        <div class="container">
            <form action="#" method="post" class="sky-form">
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-md-2">항목</label>
                            <div class="col col-md-10">
                                <label class="input">
                                    <input type="text" />
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <label class="label col col-md-2">시점</label>
                            <div class="col col-md-10">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input class="datepicker" type="text" name="date" value="">
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <label class="label col col-md-2">경위</label>
                            <div class="col col-md-10">
                                <label class="textarea">
                                    <textarea rows="10"></textarea>
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}
