{% extends '../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="#">홈</a></li>
                    <li class="active">유출 내역</li>
                    <li class="active">유출신고서 보기</li>
                </ul>
                <h2 style="border-bottom: 0">
                    유출신고서 보기
                </h2>
            </header>
        </div>          
    </section>

    <section>
        <div class="container">
            <div class="pull-right margin-bottom10">
                <a class="btn btn-default" href="list">목록</a>
                <a class="btn btn-success" href="edit">수정</a>
                <a class="btn btn-danger" href="edit">삭제</a>
            </div>
        </div>

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center" class="col-md-2">기관명</th>
                        <td class="col-md-10">아무개 어린이집</td>
                    </tr>
                    <tr>
                        <th class="text-center">정보주체에의<br />통지 여부</th>
                        <td>이메일로 통지함</td>
                    </tr>
                    <tr>
                        <th class="text-center">유출된 개인정보의<br />항목 및 규모</th>
                        <td>2015년 5월 1일 ~ 6월 23일까지 CCTV 촬영분</td>
                    </tr>
                    <tr>
                        <th class="text-center">유출피해 최소화<br />대책 • 조치 및 결과</th>
                        <td>2015년 5월 1일 ~ 6월 23일까지 CCTV 촬영분</td>
                    </tr>
                    <tr>
                        <th class="text-center">정보주체가 할 수<br />있는 피해 최소화<br />방법 및 구제절차</th>
                        <td>없음</td>
                    </tr>
                    <tr>
                        <th class="text-center">담당부서 • 당담자<br />및 연락처</th>
                        <td class="nopadding">
                            <style>
                                table.table tr th.nobordered-top,
                                table.table tr td.nobordered-top
                                {
                                    border-top: 0px;
                                }
                                table.table tr th.nobordered-bottom,
                                table.table tr td.nobordered-bottom
                                {
                                    border-bottom: 0px;
                                }
                                table.table tr th.nobordered-left,
                                table.table tr td.nobordered-left
                                {
                                    border-left: 0px;
                                }
                                table.table tr th.nobordered-right,
                                table.table tr td.nobordered-right
                                {
                                    border-right: 0px;
                                }
                                table.table-nobordered-outside
                                {
                                    border-top: 0px;
                                    border-bottom: 0px;
                                    border-right: 0px;
                                    border-left: 0px;
                                }
                            </style>

                            <table class="table table-bordered table-nobordered-outside nomargin">
                                <tr>
                                    <th class="col-md-2 text-center nobordered-top nobordered-left"></th>
                                    <th class="col-md-2 text-center nobordered-top">성명</th>
                                    <th class="col-md-3 text-center nobordered-top">부서</th>
                                    <th class="col-md-2 text-center nobordered-top">직위</th>
                                    <th class="col-md-3 text-center nobordered-top nobordered-right">연락처</th>
                                </tr>
                                <tr>
                                    <th class="text-center nobordered-left">개인정보 보호책임자</th>
                                    <td class="text-center">아무개</td>
                                    <td class="text-center">소프트웨어개발팀</td>
                                    <td class="text-center">팀장</td>
                                    <td class="text-center nobordered-right">010-2222-2321</td>
                                </tr>
                                <tr>
                                    <th class="text-center nobordered-bottom nobordered-left">개인정보 취급자</th>
                                    <td class="text-center nobordered-bottom">아무개</td>
                                    <td class="text-center nobordered-bottom">소프트웨어개발팀</td>
                                    <td class="text-center nobordered-bottom">팀장</td>
                                    <td class="text-center nobordered-bottom nobordered-right">010-2222-2321</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th class="col-md-2 text-center" style="vertical-align: middle" rowspan="2">유출신고접수기관</th>
                        <th class="col-md-3">기관명</th>
                        <th class="col-md-3">담당자명</th>
                        <th class="col-md-4">연락처</th>
                    </tr>
                    <tr>
                        <td>
                            서울시
                        </td>
                        <td>
                            아무개
                        </td>
                        <td>
                            022-222-2222
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
