{% extends '../index.html' %}

{% block content %}
    <!-- REVOLUTION SLIDER -->
    <div class="slider fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul class="hide">
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1200" data-saveperformance="off" >
                    <img src="/assets/images/1x1.png" data-lazyload="/assets/images/boxed_background/1.jpg" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />

                    <div
                        class="tp-caption boldwide_small_white lfb start"
                        data-x="left" data-hoffset="70"
                        data-y="96"
                        data-speed="1000"
                        data-start="1200"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        *어린이집 CCTV를 위한 CCTM
                    </div>

                    <div
                        class="tp-caption block_black lfl start"
                        data-x="left" data-hoffset="70"
                        data-y="195"
                        data-speed="1000"
                        data-start="1500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        CCTV 의무화법(영유아보육법)에 따른 CCTV 관리 서비스
                    </div>
                    
                    <div
                        class="tp-caption block_black lfl start"
                        data-x="left" data-hoffset="70"
                        data-y="245"
                        data-speed="1000"
                        data-start="1700"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        영상정보보호(VPM : Video Privacy Management)기술 개발 적용
                    </div>

                    <div
                        class="tp-caption boldwide_small_white lfl start"
                        data-x="left" data-hoffset="70"
                        data-y="290"
                        data-speed="1000"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        <small>유일한 어린이집 맞춤형 CCTV 서비스</small>
                    </div>
                </li>
                
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-thumb="/assets/images/demo/flickr_13.jpg" >
                    <img src="/assets/images/1x1.png" data-lazyload="/assets/images/demo/desk.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <div
                        class="tp-caption lft start"
                        data-x="right"
                        data-y="0"
                        data-speed="750"
                        data-start="750"
                        data-easing="easeOutExpo"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                            <img src="/assets/images/1x1.png" alt="" data-lazyload="/assets/images/caption_bg.png">
                    </div>

                    <div
                        class="tp-caption boldwide_small_white lfb start"
                        data-x="left" data-hoffset="810"
                        data-y="96"
                        data-speed="300"
                        data-start="1200"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        * 온라인 열람서비스
                    </div>

                    <div
                        class="font800 tp-caption medium_bg_orange_new1 lfl start"
                        data-x="left" data-hoffset="810"
                        data-y="195"
                        data-speed="1000"
                        data-start="1500"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        <div class="font700"> 열람권한자의 웹사이트</div>
                    </div>

                    <div class="tp-caption medium_bold_orange lfl start font700"
                        data-x="left" data-hoffset="810"
                        data-y="245"
                        data-speed="1000"
                        data-start="1700"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        <strong> 열람신청서비스</strong>
                    </div>

                    <div class="tp-caption medium_bold_orange lfl start font700"
                        data-x="left" data-hoffset="810"
                        data-y="295"
                        data-speed="1000"
                        data-start="1900"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        <strong> 열람 내역 기록 및 3년 보관</strong>
                    </div>
                </li>
                
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
                    <img src="/assets/images/1x1.png" data-lazyload="/assets/images/demo/flex_2.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <div class="tp-caption lft start"
                        data-x="0"
                        data-y="0"
                        data-speed="750"
                        data-start="750"
                        data-easing="easeOutExpo"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="300"
                    >
                        <img src="/assets/images/1x1.png" alt="" data-lazyload="/assets/images/caption_bg.png">
                    </div>

                    <div class="tp-caption white fsize20 font500 lfb start"
                        data-x="left" data-hoffset="70"
                        data-y="96" 
                        data-speed="300" 
                        data-start="1200" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">
                            * 어린이집 공지 홈페이지 제공
                    </div>

                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="70"
                        data-y="245" 
                        data-speed="300" 
                        data-start="1500" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" >
                            내부관리계획 공지
                    </div>
                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="70"
                        data-y="295" 
                        data-speed="300" 
                        data-start="1700" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="600" >
                            장비 현황 모니터링
                    </div>
                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="70"
                        data-y="345" 
                        data-speed="300" 
                        data-start="1900" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="900" >
                            유출내역 공지
                    </div>
                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="70"
                        data-y="395" 
                        data-speed="300" 
                        data-start="2100" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="1200" >
                            운영내역 공지
                    </div>
                <div class="tp-caption lfb" 
                    data-x="right" data-hoffset="-70"
                    data-y="40" 
                    data-speed="2000" 
                    data-start="500" 
                    data-easing="easeOutExpo" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    style="z-index: 2;">
                    <img src="/assets/images/1x1.png" alt="" data-lazyload="/images/desktop.png">
                </div>
                </li>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
                    <img src="/assets/images/1x1.png" data-lazyload="/assets/images/demo/blur.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <div class="tp-caption lft start" 
                        data-x="0"
                        data-y="296" 
                        data-speed="750" 
                        data-start="750" 
                        data-easing="easeOutExpo" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">
                        <img src="/assets/images/1x1.png" alt="" data-lazyload="/assets/images/caption_bg.png">
                    </div>

                    <div class="tp-caption boldwide_small_white lfb start" 
                        data-x="44" 
                        data-y="320" 
                        data-speed="300" 
                        data-start="1500" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" >
                            * 안전성 확보조치(물리적)
                    </div>

                    <div class="tp-caption boldwide_small_white lfb start" 
                        data-x="44" 
                        data-y="400" 
                        data-speed="300" 
                        data-start="1500" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" >
                            <small>잠금장치 RACK 제공 및 설치<br/>
                                24시간 장비 이상 통보 서비스</small>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" >
                    <img src="/assets/images/1x1.png" data-lazyload="/assets/images/demo/thumb_faq.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    <div class="tp-caption lft start" 
                        data-x="right" 
                        data-y="0" 
                        data-speed="750" 
                        data-start="750" 
                        data-easing="easeOutExpo" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">
                            <img src="/assets/images/1x1.png" alt="" data-lazyload="/assets/images/caption_bg.png">
                    </div>

                    <div class="tp-caption boldwide_small_white lfb start" 
                        data-x="left" data-hoffset="810"
                        data-y="96" 
                        data-speed="300" 
                        data-start="1200" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">
                            *안전성 확보조치
                    </div>

                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="810"
                        data-y="200"
                        data-speed="300" 
                        data-start="1500" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300" >
                            현장 장비 접근 통제 제한
                    </div>
                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="810"
                        data-y="250"
                        data-speed="300" 
                        data-start="1700" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="600" >
                            모든 자료/파일 암호화 저장
                    </div>
                    <div class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="810"
                        data-y="300"
                        data-speed="300" 
                        data-start="1900" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="900" >
                            모든 자료/파일 이중 저장
                    </div>
                    <div
                        class="tp-caption block_black lfl start" 
                        data-x="left" data-hoffset="810"
                        data-y="350"
                        data-speed="300" 
                        data-start="2100" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="1200" >
                            모든 통신구간 암호화 통신
                    </div>
                    <div
                        class="tp-caption block_black lfl start"
                        data-x="left" data-hoffset="810"
                        data-y="400"
                        data-speed="300"
                        data-start="2300"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.1"
                        data-endelementdelay="0.1"
                        data-endspeed="1200"
                     >
                            개인영상정보관리대장 발급
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->

    <div class="callout dark arrow-down">
        <div class="container text-center">
            <h2>영유아 보육법 개정, 어린이집 CCTV 설치 의무화 !!!</h2>
            <p>
                <br />
                CCTV 관리 혼자 하시겠습니까? CCTM이 도와드리겠습니다.
                <br />
                다년간 어린이집 전용 회계서비스를 관리해온 이편한시스템이 <strong>어린이집에 꼭 맞는 CCTV 관리 &bull; 운영 서비스</strong>를 제공합니다.
            </p>
            <div class="margin-top20">
                <a href="/shop" class="btn btn-primary btn-lg">서비스 신청하기</a>
            </div>
            <p style="font-size: 13px">
                <br />
                1분이면 서비스 신청이 완료됩니다.
                <br />
                서비스 신청은 무료입니다.
                <br />
                지금 바로 신청하세요.
            <p>
        </div>
    </div>

    <!-- WELCOME -->
    <section>
        <div class="container">
            <header class="text-center">
                <h2>
                    Welcome to
                    <span class="word-rotator">
                        <span class="items bold styleColor">
                            <span>CCTM</span>
                            <span>이편한시스템</span>
                        </span>
                    </span>
                </h2>
                <p class="lead">어린이집에서 보육에 전념할 수 있도록 이편한시스템에서 개발한 웹기반 어린이집 전용 CCTV 관리서비스</p>
                <div class="divider half-margins onepage center"><!-- lines divider --></div>
            </header>

            <div class="row">
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <font size="100px">
                            <i class="li li-shield"></i>
                        </font>
                        <h4>개인정보보호</h4>
                        <p>영상정보(개인정보)의 분실, 유출, 해킹, 변조, 훼손을 방지하기 위한 기술적인 기능 및 서비스가 포함되어 있습니다.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <font size="100px">
                            <i class="li li-eye"></i>
                        </font>
                        <h4>열람서비스</h4>
                        <p>열람권한자가 웹사이트에서 신청가능한 영상열람 신청 서비스를 제공합니다.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <font size="100px">
                            <i class="li li-screen-desktop"></i>
                        </font>
                        <h4>편의성</h4>
                        <p>어린이집 공지 홈페이지 제공, 개인영상정보관리대장 발급, 장비 모니터링 등 보육에만 전념하실수 있도록 편의기능을 제공합니다.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <font size="100px">
                            <i class="li li-briefcase"></i>
                        </font>
                        <h4>VPM (Video Privacy Management)</h4>
                        <p>영상의 이용, 열람, 삭제, 접속 등 모든 운영기록을 관리합니다. 임의삭제 방지, 위·변조 방지, 오·남용 방지를 통해 사생활 침해를 막을 수 있습니다.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <font size="100px">
                            <i class="li li-lock"></i>
                        </font>
                        <h4>암호화</h4>
                        <p>모든 자료·파일, 모든 통신구간을 암호화 처리합니다.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <font size="100px">
                            <i class="li li-graduation"></i>
                        </font>
                        <h4>전문성</h4>
                        <p>다년간 어린이집 회계를 관리해온 이편한시스템이 어린이집에 꼭 맞는 CCTV 관리 &bull; 운영 서비스를 제공합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /WELCOME -->

    <div class="callout dark arrow-down">
        <div class="container text-center">
            <h2>영유아보육법 주요내용</h2>
            <p>
                <br />
                <strong>2015년 9월 19일</strong>부터 시행되는 영유아보육법(시행령, 시행규칙 포함)중 CCTV에 대한 주요내용입니다.
                <br />
                핵심은 <strong>영유아보호 + 개인정보보호</strong> 입니다.
            </p>
            <div class="margin-top20">
                <a href="/shop" class="btn btn-primary btn-lg">서비스 신청하기</a>
            </div>
        </div>
    </div>

    <!-- SECTION -->
    <section>
        <div class="container">
            <h3><strong>영유아보육법</strong> 주요내용</h3>
            <ul class="list-icon spaced check-circle">
                <li>어린이집은 영유아의 주요 활동공간인 보육실, 공동 놀이실(기존 유희실, 포복실), 놀이터, 식당, 강당에 CCTV를 1대 이상 의무 설치(식당, 강당은 별도의 공간으로 마련되어 있는 경우만)</li>
                <li>HD급(1280x720px) 이상, 10 FPS 이상으로 영상 저장</li>
                <li>영상 60일 이상, 열람기록등의 영상정보 관리대장 3년 이상 보관</li>
                <li>영상이 분실,도난,유출,변조,훼손 방지 위해 내부관리계획 수립, 접속기록 보관, 위변조 방지 등 안전성 확보에 필요한 조치</li>
                <li>영상자료(파일)는 잠금장치나 제한구역에 보관</li>
                <li>CCTV의 관리책임자는 어린이집 원장이며, 영상정보(개인정보)를 처리할 수 있는 권한 부여</li>
                <li>열람권한자가 열람요청서를 제출하여 영상정보 열람을 요청할시 특별한 사정이 없는한 열람할 수 있도록 방문 시간대 통보 의무</li>
                <li>열람은 원칙적으로 어린이집 원장과 정보주체가 가능</li>
                <li>CCTV 안내판 설치</li>
                <li>국가는 CCTV 설치ㆍ관리와 열람으로 정보주체(영유아,보육교직원)의 권리가 침해되지 안도록 매년 1회 이상 조사ㆍ점검</li>
                <li>이 법 이외의 사항은 개인정보보호법을 준용</li>
                <li>네트워크 카메라는 개인정보보호법에 따르는 기준이며, 설치 지원금 없음</li>
                <li>CCTV: 내부망 저장 및 확인, 네트워크카메라: 인터넷을 통한 영상 확인 가능</li>
                <li>위반시 형사, 행정제재 조치 내용</li>
            </ul>

            <div class="divider half-margins onepage center"><!-- lines divider --></div>

            <div class="owl-carousel text-center" data-plugin-options='{"items": 1, "singleItem": true, "navigation": false, "pagination": true, "autoPlay": true, "transitionStyle":"fadeUp"}'><!-- transitionStyle: fade, backSlide, goDown, fadeUp  -->
                <div class="testimonial">
                    <p>
                        구성원의 동의없이 CCTV 설치됨
                        <br/>
                        이에 따라 개인정보 관리의 중요성이 커졌으며 처벌/과태료 조항이 생김
                        <br/>
                        열람 요청 처리와 지자체 점검 대비에 따른 어린이집에서의 관리 부담
                    </p>
                    <cite><strong> 개정전과 개정후의 변화 </strong></cite>
                </div>

                <div class="testimonial">
                    <p>
                        어린이집(비공개장소)은 개인정보보호법 적용으로 구성원 전부 동의하에만 설치 가능
                        <br/>
                        => 기존 지차제 지원
                    </p>
                    <cite><strong> 개정전 </strong></cite>
                </div>

                <div class="testimonial">
                    <p>
                        구성원의 동의 없이 CCTV 설치 의무화
                        <br/>
                        => 개인정보관리 책임 부여
                    </p>
                    <cite><strong> 개정후 </strong></cite>
                </div>

                <div class="testimonial">
                    <p>
                        구성원이 모두 동의하였기에 네트워크 카메라 형태로 설치되며 비교적 자유로운 영상 열람 가능
                    </p>
                    <cite><strong> 개정전 </strong></cite>
                </div>

                <div class="testimonial">
                    <p>
                        영상관리 중 영상의 접속, 생성, 이용, 열람, 파기시(개인정보관리) 신분증명 및 기록을 남겨야 함
                        <br/>
                        => 운영·열람기록 지자체 점검(년 1회이상)
                    </p>
                    <cite><strong> 개정후 </strong></cite>
                </div>
            </div>
        </div>
    </section>
    <!-- /SECTION -->

    <div class="callout dark arrow-down">
        <div class="container text-center">
            <h2>서비스 비교표</h2>
            <p>
                <br />
                타사 서비스와 CCTM 서비스의 차이를 확인하세요.
                <br/ >
                보고서 자동 생성, 온라인 열람 서비스, 암호화, 자동 업데이트, 장비 모니터링 및 통보 등 <strong>어린이집에 최적화된 CCTV 서비스</strong>입니다.
            </p>
            <div class="margin-top20">
                <a href="/shop" class="btn btn-primary btn-lg">서비스 신청하기</a>
            </div>
        </div>
    </div>

    <section>
        <style>
            table.compare tbody td,
            table.compare thead th {
                vertical-align: middle;
                text-align: center;
            }
            table.compare tbody tr {
                height: 60px;
            }
        </style>
        <div class="container">
            <div class="table-responsive">
                <table  class="table table-bordered table-striped compare">
                    <thead class="styleBackgroundColor">
                        <tr class="styleBackground color-black">
                            <th>구분</th>
                            <th>CCTM</th>
                            <th>T사</th>
                            <th>S사</th>
                            <th>K사</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>서비스 사용료(월)</td>
                            <td><span class="label label-warning black fsize14 font600">3,500원/CAM</span></td>
                            <td>
                                약2만/CAM
                                <br/>
                                (임대)
                            </td>
                            <td>X</td>
                            <td>X</td>
                            <td>적외선, 최저가 기준</td>
                        </tr>
                        <tr>
                            <td>설치비용</td>
                            <td>지원금내</td>
                            <td>X</td>
                            <td>X</td>
                            <td>지원금내</td>
                            <td>HD급이상 CAM, 60일 녹화기 기준</td>
                        </tr>
                        <tr>
                            <td>암호화저장/이중저장</td>
                            <td>지원</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>
                                위조/변조 및 유출, 해킹방지
                                <br/>
                                [기술적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>인터넷 열람 서비스</td>
                            <td>지원</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>온라인열람신청 및 열람 기록보관</td>
                        </tr>
                        <tr>
                            <td>지자체 점검 지원</td>
                            <td>지원</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>인터넷을 이용한 점검용 계정 일시 발급가능</td>
                        </tr>
                        <tr>
                            <td>접근 통제 시스템</td>
                            <td>지원</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>
                                영상장비 직접통제 불가능
                                <br/>
                                [기술적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>기록보관/위조변조방지</td>
                            <td>지원</td>
                            <td>장비로그/X</td>
                            <td>장비로그/X</td>
                            <td>장비로그/X</td>
                            <td>
                                접근/운영/영상/열람기록
                                <br/>
                                암호화저장(3년보관)
                                <br/>
                                [기술적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>기간 초과 영상 삭제</td>
                            <td>지원</td>
                            <td>용량초과삭제</td>
                            <td>용량초과삭제</td>
                            <td>용량초과삭제</td>
                            <td>
                                60일경과 영상 삭제관리
                                <br/>
                                및 삭제기록 보관
                                <br/>
                                [관리적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>물리적 안전성 확보조치</td>
                            <td>
                                <span class="label label-warning black fsize14 font600">RACK 케비넷</span>
                                <br/>
                                기본 제공
                            </td>
                            <td>X</td>
                            <td>X</td>
                            <td>제공</td>
                            <td>
                                튼튼하고 잠금장치 있는 
                                <br/>
                                6U 이상 철제RACK 기본제공
                                <br/>
                                [물리적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>자동 문서화 서비스</td>
                            <td><span class="label label-warning black fsize14 font600">문서 자동작성</span></td>
                            <td>X</td>
                            <td>X</td>
                            <td>빈 문서양식</td>
                            <td>
                                <span class="styleColor">영상정보관리대장/열람&bull;운영기록 자동작성</span> 
                                <br/>
                                [관리적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>이상모니터링 및 통보</td>
                            <td>고장발생시 자동알림 및 기록</td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>
                                무인 장비 감시
                                <br/>
                                [관리적 안전성 확보조치]
                            </td>
                        </tr>
                        <tr>
                            <td>기능 업데이트</td>
                            <td><span class="label label-warning black fsize14 font600">자동</span></td>
                            <td>수동</td>
                            <td>수동</td>
                            <td>수동</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>유지보수</td>
                            <td>출장+부품비</td>
                            <td>X</td>
                            <td>출장+부품비</td>
                            <td>출장+부품비</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>CCTV 홈페이지</td>
                            <td><span class="label label-warning black fsize14 font600">어린이집마다<br/>자동생성</span></td>
                            <td>X</td>
                            <td>X</td>
                            <td>X</td>
                            <td>
                                내부관리계획/유출/열람내역공지
                                <br/>
                                운영상황 및 CCTV 운영공지
                                <br/>
                                [어린이집 영상정보처리기기 
                                <br/>
                                설치운영 가이드라인 V조 2항]
                                <br/>
                                [<span class="styleColor">정보주체가 알수 있도록 
                                <br/>
                                어린이집 홈페이지등에 게시하여야 함</span>]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
