{% extends 'layout.html' %}

{% block script %}
{% endblock %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li class="active">로그인</li>
                </ul>
                <h2 style="border-bottom: 0">
                    로그인
                </h2>
            </header>
        </div>          
    </section>
    
    <section>
        <div class="container">
            <div style="width: 50%; margin: 0 auto;">
                <form action="#" method="post" class="sky-form boxed">
                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" placeholder="이메일">
                                <b class="tooltip tooltip-bottom-right">회원가입시 사용하신 이메일 주소를 입력해주세요.</b>
                            </label>
                        </section>

                        <section class="nomargin">
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" placeholder="패스워드">
                                <b class="tooltip tooltip-bottom-right">패스워드를 입력해주세요.</b>
                            </label>
                            <div class="text-center">
                                <div class="note"><a href="#">회원가입</a> • <a href="#">패스워드 찾기</a></div>
                            </div>
                        </section>
                    </fieldset>

                    <footer style="margin: 0 15px 10px 15px;">
                        <button type="submit" class="button">로그인</button>
                    </footer>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
