{% extends '../index.html' %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>서비스 신청 관리</h5>
            <div class="ibox-tools">
                <!--
                <a href="" class="btn btn-primary btn-xs">Add new issue</a>
                -->
            </div>
        </div>
        <div class="ibox-content">
            <div class="m-b-lg">
                <div class="input-group">
                    <input type="text" placeholder="어린이집명 또는 주소, 연락처..." class="input-sm form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"> 검색</button>
                    </span>
                </div>

                <!--
                <div class="m-t-md">
                    <button type="button" class="btn btn-sm btn-white" ><i class="fa fa-refresh"></i> Refresh</button>
                </div>
                -->
            </div>
            <div class="table-responsive project-list">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                상태
                            </th>
                            <th>
                                어린이집
                            </th>
                            <th>
                                신청인
                            </th>
                            <th>
                                전화번호
                            </th>
                            <th>
                                신청일
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in serviceApplications %}
                        <tr>
                            <td>
                                <span class="label label-danger">신청</span>
                            </td>
                            <td class="issue-info">
                                {{ application.nursery_name }}
                                <small>
                                    {{ application.nursery_address }}
                                </small>
                            </td>
                            <td>
                                {{ application.applicant_name }}
                            </td>
                            <td>
                                {{ application.applicant_phone }}
                            </td>
                            <td>
                                {{ application.create_date | date }}
                            </td>
                            <td>
                                <a href="#" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> 상세보기</a>
                            </td>
                        </tr>
                        {% else %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
