{% extends '../index.html' %}

{% block javascript %}
    <script>
        $(function() {
            $('button.toggle-all').click(function() {
                if ($('button.toggle-all').text().trim() == '전체열기') {
                    $('.toggle-content').show();
                    $('.toggle').addClass('active');
                    $('button.toggle-all').text('전체닫기');
                } else {
                    $('.toggle-content').hide();
                    $('.toggle').removeClass('active');
                    $('button.toggle-all').text('전체열기');
                }
            });

            $('.toggle label').click(function() {
                if ($('.toggle .active').length) {
                    $('button.toggle-all').text('전체닫기');
                } else {
                    $('button.toggle-all').text('전체열기');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">처음으로</a></li>
                    <li class="active">상담사례</li>
                </ul>
                <h2 style="border-bottom: 0">
                    상담사례 
                </h2>
            </header>
        </div>
    </section>

    <section class="padding30">
        <div class="container">
            <button class="btn btn-primary btn-sm toggle-all">전체닫기</button>

            <div class="toggle">
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 사례1</label>
                    <div class="toggle-content" style="display: block">
                        작성중...
                    </div>
                </div>

            </div>

            <div class="alert alert-default" style="margin-top: 15px";>
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <h4><strong>CCTM 서비스</strong></h4>
                        <p>
                        서비스에 대해 잘 이해 하셨나요? 그럼 즉시 신청하시기 바랍니다.
                        </p>
                    </div>

                    <div class="col-md-3 col-sm-3 text-right">
                        <a href="/shop" class="btn btn-primary btn-lg">서비스 신청하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
