@media (min-width: 768px) {
    body.fixed-nav #wrapper .navbar-static-side, body.fixed-nav #wrapper #page-wrapper {
        margin-top: 0px;
    }

    #page-wrapper {
        margin: 0 0 0 110px;
    }
}

.project-list table tr td {
    padding: 5px 10px;
}

.m-b {
    margin-bottom: 10px;
}

.ibox-title {
    padding: 10px 10px 10px 10px
}

.ibox-content {
    padding: 10px 10px 10px 10px
}

body.fixed-sidebar .navbar-static-side {
    width: 110px;
    font-size: 12px;
}

#page-wrapper {
    padding: 0px;
}

.page-heading {
    margin-left: 0px;
    margin-right: 0px;
}

.wrapper-content {
    padding: 10px;
    padding-bottom: 25px;
}

.inmodal .modal-header {
    padding: 20px;
    text-align: left;
    font-size: 18px;
}

.inmodal .modal-title {
    font-size: 20px;
}

.modal-header .close {
    margin-top: 4px;
}

.modal-body {
}

.modal-footer {
    padding: 5px;
    border-top: 0;
}

.pagination {
    margin: 0px auto;
}
