body {
    font-family: 'Open Sans';
}

#topNav {
    z-index: 100;
}

#content {
    margin-top: 60px;
}

a.logo {
    width: 150px;
    height: 50px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.browser-update {
    background-color: #ffd633;
    border-bottom: 1px solid #cfcfcf;
    font-size: 13px;
    padding: 3px 10px;
}

.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-menu {
    width: 1036px;
    margin: 0px 0px;
    margin-top: -5px;
    padding: 0px 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.tt-suggestion {
    padding: 2px 10px;
    font-size: 14px;
    line-height: 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
/*
    color: #fff;
    background-color: #A94545;
*/
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #A94545;

}

.tt-suggestion p {
    margin: 0;
}

.tt-menu {
    max-height: 270px;
    overflow-y: auto;
}

span.browser {
    display: block;
    position: relative;
    margin: 0 auto 35px;
    width: 100px;
    height: 100px;
    background: transparent url(/images/browser.png) no-repeat;
    background-size: auto 200px;
}

span.ie {
    background-position: -200px -100px;
}

span.chrome {
    background-position: 0px -100px;
}

span.firefox {
    background-position: -100px -100px;
}

span.safari {
    background-position: -300px -100px;
}

span.opera {
    background-position: -400px -100px;
}

span.android {
    background: transparent url(/images/android.png) no-repeat;
    background-size: auto 100px;
}
