{% extends '../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li class="active">열람 및 파기</li>
                </ul>
                <h2 style="border-bottom: 0">
                    열람 및 파기
                </h2>
            </header>
        </div>          
    </section>

    <section>
        {% if user %}
            <div class="container margin-bottom10">
                <!--
                <div class="alert alert-default fade in">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            열람 및 파기 서비스는 2015년 12월 19일부터 제공됩니다.
                        </div>
                    </div>
                </div>
                -->

                <!--
                <div class="pull-left">
                    <a class="btn btn-primary" href="/management/inspection/edit">열람신청</a>
                    <a class="btn btn-primary" href="/management/destruction/edit">파기신청</a>
                </div>
                -->
                <div class="pull-right">
                    <a class="btn btn-default" href="/management/inspection/download" target="download">개인영상정보 관리대장 다운로드</a>
                    <!--
                    <a class="btn btn-default" href="#" target="download">개인정보파일 파기 관리대장 다운로드</a>
                    -->
                </div>
            </div>
        {% endif %}

        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="60px" class="text-center">구분</th>
                            <th width="100px" class="text-center">일시</th>
                            <th class="text-center">파일명/형태</th>
                            <th width="100px" class="text-center">목적/사유</th>
                            <th width="230px" class="text-center">이용•제공<br/>근거</th>
                            <th width="100px" class="text-center">이용•제공<br/>형태</th>
                            <th width="100px" class="text-center">기간 및 파기<br/>예정일자</th>
                            <th width="60px" class="text-center">장소</th>
                            <th width="150px" class="text-center">비고</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for managementRegister in managementRegisters %}
                            <tr>
                                <td class="text-center">{{ managementRegister.type }}</td>
                                <td class="text-center">{{ managementRegister.date | date }}</td>
                                <td class="text-right">{{ managementRegister.content | nl2br }}</td>
                                <td class="text-center">{{ managementRegister.purpose }}</td>
                                <td class="text-center">{{ managementRegister.basis | nl2br }}</td>
                                <td class="text-center">{{ managementRegister.form }}</td>
                                <td class="text-center">{{ managementRegister.schedule }}</td>
                                <td class="text-center">{{ managementRegister.place }}</td>
                                <td class="text-left">{{ managementRegister.note }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" class="text-center">열람 및 파기 내역이 없습니다.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--
            <div class="text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            -->
        </div>
    </section>

    <iframe id="download" name="download" style="display: none"></iframe>
{% endblock %}
