<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        <title>CCTM - 어린이집 CCTV 관리 서비스 By 이편한시스템(주)</title>

        <meta name="keywords" content="어린이집,CCTV,CCTM" />
        <meta name="description" content="어린이집 CCTV 관리 서비스" />
        <meta name="Author" content="이편한시스템(주) [www.ejboo.com]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" sizes="16x16" href="/favicons/favicon-16x16.png" />
        <link rel="shortcut icon" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="shortcut icon" sizes="96x96" href="/favicons/favicon-96x96.png" />
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png" />
        <link rel="apple-touch-icon-precomposed" href="/favicons/apple-touch-icon-60x60.png" />

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/stylesheets/admin.css" rel="stylesheet">
    </head>

    <body class="fixed-sidebar fixed-nav">
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li {% if controller == 'service' %}class="active"{% endif %}>
                            <a href="/service/list"><i class="fa fa-edit"></i> <span class="nav-label">서비스 신청 관리</span></a>
                        </li>
                        <li {% if controller == 'client' %}class="active"{% endif %}>
                            <a href="/client/list"><i class="fa fa-home"></i> <span class="nav-label">어린이집 관리</span></a>
                        </li>
                        <li {% if controller == 'trouble' %}class="active"{% endif %}>
                            <a href="/trouble/list"><i class="fa fa-eye"></i> <span class="nav-label">장애 상태</span></a>
                        </li>
                        <!--
                        <li {% if controller == 'nursery' %}class="active"{% endif %}>
                            <a href="/nursery/list"><i class="fa fa-search"></i> <span class="nav-label">어린이집 DB 검색</span></a>
                        </li>
                        -->
                        <li>
                            <a href="#" data-toggle="modal" data-target="#confirm-logout"><i class="fa fa-sign-out"></i> <span class="nav-label">로그아웃</span></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="modal inmodal" id="confirm-logout" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content animated bounceInRight">
                        <div class="modal-header">
                            로그아웃 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <a href="/auth/logout" class="btn btn-sm btn-primary"><i class="fa fa-sign-out"></i> 로그아웃</a>
                            <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom visible-xs-block">
                    <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0; height: 60px;">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                    </nav>
                </div>

                <!--
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        {% block subject %}{% endblock %}
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
                -->

                <div class="wrapper wrapper-content animated fadeInRight">
                    {% block content %}{% endblock %}
                </div>

                <div class="footer">
                    <div>
                        <strong>Copyright</strong> 이편한시스템(주) &copy; 2015
                    </div>
                </div>
            </div>
        </div>

        <!-- Mainly scripts -->
        <script src="/js/jquery-2.1.1.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="/js/inspinia.js"></script>
        <script src="/js/plugins/pace/pace.min.js"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>
