{% extends '../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">처음으로</a></li>
                    <li class="active">브라우저지원</li>
                </ul>
                <h2 style="border-bottom: 0">
                    브라우저지원
                </h2>
            </header>
        </div>
    </section>

    <!--[if lte IE 8]>
        <div class="callout dark arrow-down">
            <div class="container text-center">
                <h3>브라우저 업데이트 알림</h3>
                <p>
                    <br />
                    Internet Explorer 7 이하 버전의 경우 Microsoft에서 이미 지원을 중단하였으며 8 버전도 곧 지원이 중단됩니다.
                    <br />
                    보안 및 호환성을 위해 브라우저를 업데이트하세요.
                </p>
            </div>
        </div>

        <section>
            <div class="container">
                <div class="text-center">
                    <h2>Windows Vista, 7, 8 등</h2>
                    <p class="lead">최신 버전의 인터넷 익스플로러로 업데이트하세요.</p>
                    <div class="divider half-margins onepage center"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4><a href="http://windows.microsoft.com/ko-kr/internet-explorer/download-ie" target="_blank">최신 버전의 인터넷 익스플로러로 업데이트하기</a></h4>
                    </div>
                </div>

                <br />
                <br />

                <div class="text-center">
                    <h2>Windows XP</h2>
                    <p class="lead">구글 크롬 또는 모질라 파이어폭스 등 최신 버전의 브라우저를 이용하세요.</p>
                    <div class="divider half-margins onepage center"></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-6">
                        <h4><a href="http://www.google.com/chrome" target="_blank">최신 버전의 구글 크롬 설치하기</a></h4>
                    </div>
                    <div class="col-md-6">
                        <h4><a href="http://www.mozilla.org/firefox/new" target="_blank">최신 버전의 모질라 파이어폭스 설치하기</a></h4>
                    </div>
                </div>
                
                <br />
                <br />

                <div class="text-center">
                    <h2>현재 버전의 인터넷 익스플로러 유지</h2>
                    <p class="lead">현재 버전의 인터넷 익스플로러를 계속 사용하시고 싶으신 경우 확장 프로그램을 설치해주세요.</p>
                    <div class="divider half-margins onepage center"></div>
                    <h4><a href="http://erp.ejboo.com/activex/ChromeFrame.exe" target="download">확장 프로그램 설치하기</a></h4>
                </div>
            </div>
            <iframe id="download" name="download" width="0" height="0" style="display: none" />
        </section>
    <![endif]-->

    <div class="callout dark arrow-down">
        <div class="container text-center">
            <h3>CCTM 지원 브라우저</h3>
            <p>
                <br />
                CCTM은 다양한 브라우저를 지원하기 위해 노력하고 있습니다.
                <br />
                아래 나열된 브라우저에서 오류가 발생할 경우 보고해주시면 감사하겠습니다.
            </p>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <span class="browser ie"></span>
                        <h4>Internet Explorer 9.0 이상</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <span class="browser chrome"></span>
                        <h4>Chrome 14 이상</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <span class="browser firefox"></span>
                        <h4>FireFox 4.0 이상</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <span class="browser safari"></span>
                        <h4>Safari 5.0 이상</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <span class="browser opera"></span>
                        <h4>Opera 15 이상</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-box noborder transparent">
                        <span class="browser android"></span>
                        <h4>Android Browser 2.0 이상</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
