{% extends '../../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li><a href="/">열람 및 파기</a></li>
                    <li class="active">개인영상정보 열람신청서</li>
                </ul>
                <h2 style="border-bottom: 0">
                    열람신청
                </h2>
            </header>
        </div>          
    </section>

    <section>
        <div class="container">
            <div class="alert alert-default">
                <h4><i class="fa fa-info"></i><strong>본인인증</strong></h4>
                <p>
                    개인정보보호법에 의해 개인영상정보 열람 또는 파기를 위해서는 본인인증과정이 필요합니다. 본인명의 휴대전화, 본인명의 신용카드 또는 공인인증서를 이용하여 본인인증을 받으실 수 있습니다. 본인인증은 본인인증기관에서 처리되며 휴대폰번호, 신용카드번호 등의 정보는 저장되지 않습니다.
                </p>
            </div>

            <div class="row" style="padding-left: 150px; padding-right: 150px;">
                <div class="col-md-4">
                    <a href="edit">
                        <div class="featured-box noborder">
                            <i class="fa fa-phone"></i>
                            <h4>휴대전화</h4>
                            <p>본인명의 휴대전화를 이용하여 본인인증을 받으실 수 있습니다.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="edit">
                        <div class="featured-box noborder">
                            <i class="fa fa-credit-card"></i>
                            <h4>신용카드</h4>
                            <p>본인명의 신용카드를 이용하여 본인인증을 받으실 수 있습니다.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="edit">
                        <div class="featured-box noborder">
                            <i class="fa fa-certificate"></i>
                            <h4>공인인증서</h4>
                            <p>범용 공인인증서를 이용하여 본인인증을 받으실 수 있습니다.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
