{% extends '../../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li><a href="/management/list">열람 및 파기</a></li>
                    <li class="active">열람 신청</li>
                </ul>
                <h2 style="border-bottom: 0">
                    열람 신청
                </h2>
            </header>
        </div>          
    </section>

    <section>
        <div class="container">
            <div class="alert alert-default fade in">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        열람 신청 서비스는 2015년 12월 19일부터 제공됩니다.
                    </div>
                </div>
            </div>

            <form action="#" method="post" class="sky-form">
                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">청구인 <small>청구인에 대한 인적사항을 작성해주세요.</small></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-md-2">성명</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" readonly="readonly" value="" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">생년월일</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input class="datepicker" type="text" name="date" value="">
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">전화번호</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">주소</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">정보주체와의 관계</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">정보주체의 인적사항 <small>열람하시고자 하는 정보주체에 대한 인적사항을 작성해주세요.</small></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-md-2">성명</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">생년월일</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input class="datepicker" type="text" name="date" value="">
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">전화번호</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">주소</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">청구내용 <small>구체적으로 요청해주시지 않으실 경우 처리가 반려되실 수 있습니다.</small></h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-md-2">영상정보 기록시간</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <i class="icon-append fa fa-calendar"></i>
                                            <input class="demo-rangepicker active" type="text" name="date" value="">
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">목적 및 사유</label>
                                    <div class="col col-md-10">
                                        <label class="textarea">
                                            <textarea rows="10"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <!--
                <div class="text-center nomargin">
                    <a class="btn btn-primary" href="#">확인</a>
                </div>
                -->
            </form>
        </div>
    </section>
{% endblock %}
