{% extends '../../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li><a href="/">열람 및 파기</a></li>
                    <li class="active">개인영상정보 열람신청서</li>
                </ul>
                <h2 style="border-bottom: 0">
                    개인영상정보 열람신청서
                </h2>
            </header>
        </div>          
    </section>
{% endblock %}
