{% extends '../index.html' %}

{% block stylesheet %}
    <link href="/assets/css/daterangepicker-bs3.css" rel="stylesheet" type="text/css">
    <style>
        tr.current {
            background-color: #AD5251;
            color: #ffffff;
        }

        .irs {
            height: 23px;
        }

        .irs-line {
            top: 8px;
        }

        .irs-slider.single {
            top: 0px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/assets/plugins/ion-range-slider/js/ion.rangeSlider.min.js"></script>

    <script>
        $(function() {
            $('select[name=cameraId]').change(function() {
                $('form').submit();
            });

            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                maxDate: '{{ now | date('MM/DD/YYYY') }}',
                locale: {
                    format: 'YYYY-MM-DD',
                    daysOfWeek: [
                        "일",
                        "월",
                        "화",
                        "수",
                        "목",
                        "금",
                        "토"
                    ],
                    monthNames: [
                        "1월",
                        "2월",
                        "3월",
                        "4월",
                        "5월",
                        "6월",
                        "7월",
                        "8월",
                        "9월",
                        "10월",
                        "11월",
                        "12월"
                    ],
                },
                startDate: '{{ date | date('MM/DD/YYYY') }}',
                endDate: '{{ date | date('MM/DD/YYYY') }}'
            }, function(start, end, label) {
                $('.datepicker').val(start.format('YYYY-MM-DD'));
                $('form').submit();
            });

            $('.datepicker').on('hide.daterangepicker', function() {
                var value = $(this).val();
                var tokens = value.split('/');
                if (tokens.length == 3) {
                    $(this).val([tokens[2], tokens[0], tokens[1]].join('-'));
                    $('form').submit();
                }
            });

            var $video = $('video');
            var $playList = $('.play-list');
            var $progressBar = $('.progress-bar');
            var $resolution = $('.resolution');
            var $currentSource = null;

            var toggleRate = false;
            var playbackRate = 3.0;

            var scrolling = false;
            var autoScroll = true;
            var firstScroll = true;
            var scrollTimer = null;

            var forwardTime = 0;
            var backwardTime = 0;

            var progressChange = false;
            var progressFinish = true;

            $progressBar.ionRangeSlider({
                type: 'single',
                min: 0,
                max: 0,
                step: 0.5,
                disable: true,
                hideMinMax: true,
                hideFromTo: true/*,
                onChange: function(data) {
                    if (!progressFinish) {
                        progressChange = true;

                        console.log('update');

                        $video[0].pause();
                        $video[0].currentTime = data.fromNumber;
                    }
                },
                onFinish: function(data) {
                    console.log('finish');

                    $video[0].currentTime = data.fromNumber;
                    setTimeout(function() {
                        $video[0].play();
                        progressChange = false;
                        progressFinish = true;
                    }, 500);
                }
                */
            });

            $('.irs').click(function() {
                //$video[0].pause();
                /*
                progressChange = true;
                $video[0].currentTime = $progressBar.val();
                $progressBar.ionRangeSlider('update', {
                    from: $progressBar.val()
                });
                */
            });

            $video.on('loadedmetadata', function() {
                $resolution.text($video[0].videoWidth + ' X ' + $video[0].videoHeight);

                if (forwardTime) {
                    $video[0].currentTime = forwardTime;
                    //console.log(forwardTime);
                } else if (backwardTime) {
                    $video[0].currentTime = $video[0].duration - backwardTime;
                }

                forwardTime = 0;
                backwardTime = 0;
            });

            $video.on('durationchange', function() {
                $progressBar.ionRangeSlider('update', {
                    max: $video[0].duration,
                    from: 0,
                    disable: false
                });
            });

            $video.on('progress', function() {
            });

            $video.on('timeupdate', function() {
                if (!progressChange && $video[0].duration) {
                    //console.log('time');
                    $progressBar.ionRangeSlider('update', {
                        from: $video[0].currentTime
                    });
                }

                forwardTime = 0;
                backwardTime = 0;
            });

            var playSpeed = function(rate) {
                if (toggleRate) {
                    playbackRate = 1.0;
                    toggleRate = false;
                }

                playbackRate += rate;

                if (playbackRate == 0) {
                    if (rate < 0) {
                        playbackRate -= 2.0;
                    }
                }

                if (playbackRate == -1) {
                    if (rate > 0) {
                        playbackRate += 2.0;
                    }
                }

                if (playbackRate <= 0) {
                    $video[0].playbackRate = 1 / Math.abs(playbackRate);
                    $('span.playback-rate').text('1/' + Math.floor(Math.abs(playbackRate)));
                } else {
                    $video[0].playbackRate = playbackRate;
                    $('span.playback-rate').text(Math.floor($video[0].playbackRate));
                }
            };

            $('button.playback-rate').click(function() {
                if (toggleRate) {
                    $video[0].playbackRate = playbackRate;
                    $('span.playback-rate').text(Math.floor($video[0].playbackRate));
                    toggleRate = false;
                } else {
                    $video[0].playbackRate = 1.0;
                    $('span.playback-rate').text(1);
                    toggleRate = true;
                }
            });

            $('button.slowly').click(function() {
                if (toggleRate || playbackRate > -10) {
                    playSpeed(-1.0);
                }
            });

            $('button.quickly').click(function() {
                if (toggleRate || playbackRate < 10) {
                    playSpeed(1.0);
                }
            });

            $('button.forward').click(function() {
                if (forwardTime || backwardTime) {
                    return;
                }

                if ($video[0].duration - $video[0].currentTime >= 5) {
                    $video[0].currentTime += 5;
                    forwardTime = 0;
                } else {
                    forwardTime = $video[0].duration - $video[0].currentTime;

                    if ($currentSource) {
                        $currentSource.removeClass('current');
                        $currentSource = $currentSource.next();
                        if (!$currentSource.length) {
                            $currentSource = null;
                        }
                    }

                    if ($currentSource) {
                        $currentSource.addClass('current');
                        $video.attr('src', $currentSource.data('url'));
                        if (toggleRate) {
                            $video[0].playbackRate = 1.0;
                        } else {
                            if (playbackRate <= 0) {
                                $video[0].playbackRate = 1 / Math.abs(playbackRate);
                                $('span.playback-rate').text('1/' + Math.floor(Math.abs(playbackRate)));
                            } else {
                                $video[0].playbackRate = playbackRate;
                                $('span.playback-rate').text(Math.floor($video[0].playbackRate));
                            }
                        }
                        $video[0].play();

                        if (autoScroll) {
                            scroll();
                        }
                    } else {
                        $video[0].pause();
                        $video.attr('src', '');

                        $progressBar.ionRangeSlider('update', {
                            min: 0,
                            max: 0,
                            disable: true
                        });

                        forwardTime = 0;
                    }
                }

            })

            $('button.backward').click(function() {
                if (forwardTime || backwardTime) {
                    return;
                }

                if ($video[0].currentTime < 5) {
                    backwardTime = 5 - $video[0].currentTime;

                    if ($currentSource) {
                        if ($currentSource.prev().length) {
                            $currentSource.removeClass('current');
                            $currentSource = $currentSource.prev();
                            $currentSource.addClass('current');

                            $video.attr('src', $currentSource.data('url'));
                            if (toggleRate) {
                                $video[0].playbackRate = 1.0;
                            } else {
                                if (playbackRate <= 0) {
                                    $video[0].playbackRate = 1 / Math.abs(playbackRate);
                                    $('span.playback-rate').text('1/' + Math.floor(Math.abs(playbackRate)));
                                } else {
                                    $video[0].playbackRate = playbackRate;
                                    $('span.playback-rate').text(Math.floor($video[0].playbackRate));
                                }
                            }
                            $video[0].play();

                            if (autoScroll) {
                                scroll();
                            }
                        } else {
                            $video[0].currentTime = 0;
                            backwardTime = 0;
                        }
                    }
                } else {
                    $video[0].currentTime -= 5;
                    backwardTime = 0;
                }
            })

            $('.play').click(function() {
                if ($currentSource) {
                    $currentSource.removeClass('current');
                }

                $currentSource = $(this);
                $currentSource.addClass('current');

                $video.attr('src', $currentSource.data('url'));
                if (toggleRate) {
                    $video[0].playbackRate = 1.0;
                } else {
                    if (playbackRate <= 0) {
                        $video[0].playbackRate = 1 / Math.abs(playbackRate);
                        $('span.playback-rate').text('1/' + Math.floor(Math.abs(playbackRate)));
                    } else {
                        $video[0].playbackRate = playbackRate;
                        $('span.playback-rate').text(Math.floor($video[0].playbackRate));
                    }
                }
                $video[0].play();
            });

            $video.on('ended', function() {
                if ($currentSource) {
                    $currentSource.removeClass('current');
                    $currentSource = $currentSource.next();
                    if (!$currentSource.length) {
                        $currentSource = null;
                    }
                }

                if ($currentSource) {
                    $currentSource.addClass('current');
                    $video.attr('src', $currentSource.data('url'));
                    if (toggleRate) {
                        $video[0].playbackRate = 1.0;
                    } else {
                        if (playbackRate <= 0) {
                            $video[0].playbackRate = 1 / Math.abs(playbackRate);
                            $('span.playback-rate').text('1/' + Math.floor(Math.abs(playbackRate)));
                        } else {
                            $video[0].playbackRate = playbackRate;
                            $('span.playback-rate').text(Math.floor($video[0].playbackRate));
                        }
                    }
                    $video[0].play();

                    if (autoScroll) {
                        scroll();
                    }
                } else {
                    $video[0].pause();
                    $video.attr('src', '');

                    $progressBar.ionRangeSlider('update', {
                        min: 0,
                        max: 0,
                        disable: true
                    });
                }
            });

            $video.on('click', function() {
                if ($video[0].paused) {
                    $video[0].play();
                } else {
                    $video[0].pause();
                }
            });

            var scroll = function() {
                if ($currentSource) {
                    scrolling = true;
                    $playList.animate({scrollTop: ($playList.scrollTop() + $currentSource.position().top - ($currentSource.height() * 5))}, function() {
                        setTimeout(function() {
                            scrolling = false;
                        }, 100);
                    });
                }
            }

            var scrollTimeout = function() {
                if (firstScroll) {
                    firstScroll = false;
                } else if (!scrolling) {
                    autoScroll = false;
                    clearTimeout(scrollTimer);
                    scrollTimer = setTimeout(function() {
                        autoScroll = true;
                        scroll();
                    }, 15000);
                }
            };

            $playList.on('scroll mousedown wheel DOMMouseScroll mousewheel keyup touchmove', scrollTimeout);

            $(window).resize(resize);
            resize();

            function resize() {
                var width = $video.parent().width();
                var height = width / 1.777777778;

                $video.width(width);
                $video.height(height);
                $playList.height(height + 32);
                //$playList.height(height + 60);
            }
        });
    </script>
{% endblock %}

{% block content %}
<!--
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li class="active">녹화 파일</li>
                </ul>
                <h2 style="border-bottom: 0">
                    녹화 파일
                </h2>
            </header>
        </div>          
    </section>
-->
    
    <section>
        <div class="container">
            <div class="row">
                <form action="/file/list" method="get" class="sky-form">
                    <div class="col-md-2 nopadding-right">
                        <fieldset class="nopadding">
                            <label class="select">
                                <select name="cameraId">
                                    {% for item in cameras %}
                                        <option value="{{ item.id }}" {% if item.id == camera.id %}selected="selected"{% endif %}>{% if item.name %}{{ item.name }}{% else %}카메라 {{ item.channel }}{% endif %}</option>
                                    {% endfor %}
                                </select>
                                <i></i>
                            </label>
                        </fieldset>
                    </div>

                    <div class="col-md-8">
                        <fieldset class="nopadding" style="width: 183px;">
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input class="datepicker" type="text" name="date" value="{{ date | date('YYYY-MM-DD') }}" />
                            </label>
                        </fieldset>
                    </div>

                    <div class="col-md-2" style="text-align: right; font-size: 13px;">
                        <div class="resolution" style="margin-top: 7px; margin-right: 7px;"></div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-9 nopadding-right">
                    <!--
                    <div class="control" style="margin-bottom: 3px">
                        <button class="fullsize btn btn-primary btn-sm">크게보기</button>
                        <button class="fullscreen btn btn-primary btn-sm">전체보기</button>
                    </div>
                    -->

                    <div>
                        <video src="" controls muted preload="auto" style="background-color: #000;">
                            HTML5 Video is required
                        </video>
                    </div>

                    <!--
                    <div class="control" style="margin-top: 3px;">
                        <input class="progress-bar" type="text" style="display: none;">
                    </div>
                    -->

                    <div class="control" style="margin-top: 3px; text-align: center;">
                        <button class="backward btn btn-primary btn-sm">5초 뒤로</button>
                        <button class="slowly btn btn-primary btn-sm">- 배속</button>
                        <button class="playback-rate btn btn-default btn-sm"><span class="playback-rate">3</span>배속</button>
                        <button class="quickly btn btn-primary btn-sm">+ 배속</button>
                        <button class="forward btn btn-primary btn-sm">5초 앞으로</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="play-list table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="" class="text-center">시작시간</th>
                                    <th width="" class="text-center">재생시간</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for file in files %}
                                    {% if (user and user.id and (session.userId == 'root@cctm.kr' or user.email == 'checker@cctm.kr')) or ((intranet or client.option.network) and user and user.id) %}
                                        <tr class="play" data-id="{{ file.id }}" data-url="{{ file.url }}">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                    <td class="text-center">{{ file.start_date | date }}</td>
                                        <td class="text-center">{{ file.duration }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            녹화 파일이 없습니다.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
