<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>CCTM - 어린이집 CCTV 관리 서비스 By 이편한시스템(주)</title>
        <meta name="keywords" content="어린이집,CCTV,CCTM" />
        <meta name="description" content="어린이집 CCTV 관리 서비스" />
        <meta name="Author" content="이편한시스템(주) [www.ejboo.com]" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <script src="/jwplayer/jwplayer.js"></script>
        <style>
            html, body, iframe, object, #container {
                margin: 0 auto;
                padding: 0 auto;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <body>
        <!--
        <video controls="controls">
            <source src="http://1.233.82.9/{{ file.recorder_id }}/{{ file.camera_id }}/{{ file.name }}.mp4" type="video/mp4" />
        </video>
        -->

        <div id="container"></div>

        <script>
            jwplayer("container").setup({
                width: '100%',
                height: '100%',
                autostart: true,
                androidhls: true,
                file: '{{ file.url }}'
            });
        </script>
    </body>
</html>
