{% extends '../index.html' %}

{% block content %}
    <div class="parallax parallax-1" style="background-image:url('/assets/images/demo/thumb_faq.jpg');">
        <span class="parallax-overlay"></span>
        <div class="container parallax-content">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <h1 class="nomargin">CCTM 서비스신청</h1>
                    <p class="nomargin">영유아 보육법 개정, 어린이집 CCTV 설치 의무화!!!</p>
                </div>

                <div class="col-md-7 col-sm-7 text-right">
                    <div class="hidden-xs">
                        <h4 class="nomargin">전화문의</h4>
                        <h2 class="nomargin">1566-2703</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="panel panel-light">
                <div class="panel-heading">
                    <h3 class="panel-title bold">서비스 신청 완료</h3>
                </div>
                <div class="panel-body">
                    <h4>서비스를 신청해주셔서 감사합니다.</h4>

                    <ul class="list-icon check">
                        <li>신청번호: {{ serviceApplication.number.toString()[0] }}{{ serviceApplication.number.toString()[1] }}{{ serviceApplication.number.toString()[2] }}{{ serviceApplication.number.toString()[3] }}-{{ serviceApplication.number.toString()[4] }}{{ serviceApplication.number.toString()[5] }}{{ serviceApplication.number.toString()[6] }}{{ serviceApplication.number.toString()[7] }}</li>
                        <li>어린이집명: {{ serviceApplication.nursery_name }}</li>
                        <li>주소: {{ serviceApplication.nursery_address }}</li>
                        <li>이름: {{ serviceApplication.applicant_name }}</li>
                        <li>이메일주소: {{ serviceApplication.applicant_email }}</li>
                        <li>휴대폰번호: {{ serviceApplication.applicant_phone }}</li>
                        {% if serviceApplication.ejboo_id %}
                            <li>이편한 회계 아이디: {{ serviceApplication.ejboo_id }}</li>
                        {% endif %}
                    </ul>
                    
                    서비스 신청 내역이 이메일로 발송되었습니다.
                    <br />
                    확인이 안될시 <strong>스팸메일함</strong>을 확인해보시기 바랍니다.
                    <br />
                    담당 직원이 직접 연락드리겠습니다.
                    <br />
                    감사합니다.
                </div>
            </div>

            <div class="text-center nomargin">
                <a class="btn btn-primary" href="/">확인</a>
            </div>
        </div>
    </section>
{% endblock %}
