{% extends '../index.html' %}

{% block javascript %}
    <script type="text/javascript" src="/javascripts/handlebars.min-v3.0.3.js"></script>
    <script type="text/javascript" src="/javascripts/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/shop.index.js"></script>
{% endblock %}

{% block content %}
    <div class="parallax parallax-1" style="background-image:url('/assets/images/demo/thumb_faq.jpg');">
        <span class="parallax-overlay"></span>
        <div class="container parallax-content">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <h1 class="nomargin">CCTM 서비스신청</h1>
                    <p class="nomargin">영유아 보육법 개정, 어린이집 CCTV 설치 의무화!!!</p>
                </div>

                <div class="col-md-7 col-sm-7 text-right">
                    <div class="hidden-xs">
                        <h4 class="nomargin">전화문의</h4>
                        <h2 class="nomargin">1566-2703</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--[if lte IE 8]>
        <section>
            <div class="container">
                <div class="text-center">
                    <h2>인터넷 익스플로러 8</h2>
                    <p class="lead">
                        인터넷 익스플로러 8 에서는 온라인 서비스 신청이 불가능합니다.
                        <br />
                        <a href="/browser">최신 버전의 브라우저로 업데이트</a> 하시거나 <a href=tel:1566-2730">1566-2703</a>으로 전화주세요.
                    </p>
                    <div class="divider half-margins onepage center"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="featured-box noborder transparent">
                            <h4><a href="/browser">최신 버전 브라우저로 업데이트하기</a></h4>
                        </div>
                    </div>
                </div>
        </section>

        <div style="display: none">
    <![endif]-->

    <section>
        <div class="container">
            <form action="/shop/submit" method="post" class="sky-form apply">
                <div class="alert callout alert-default">
                    <h4>월 <span class="bold styleColor">4,500원</span>/카메라 <small>(부가세 별도)</small></h4>
                    <br />
                    <p>
                        이편한시스템 <span class="bold"><a href="http://www.ejboo.com" target="_blanc">회계서비스</a></span>와 같이 이용하실 경우 카메라당 월 <span class="bold styleColor">3,500원</span>에 CCTM 서비스<span class="bold styleColor">(결합할인)</span>를 이용하실 수 있습니다.
                        <br />
                        서비스를 신청하시면 <span class="bold styleColor">담당 직원이 직접 연락드리며</span> 카메라 수량 및 설치 비용은 방문 실사 후 결정됩니다.
                        <br />
                        방문 실사 또는 전화 상담 후 <span class="bold styleColor">조건이 맞지 않으시면 취소하셔도 무방</span>하며 취소시 어떠한 비용도 청구되지 않습니다.
                        <br />
                        <br />
                        서비스 신청시 입력하신 정보는 <span class="bold styleColor">방문 실사 및 전화 상담을 위해서만 사용</span>되며 다른 목적으로 외부에 공개하지 않습니다.
                        <br />
                        목적 달성 후 입력하신 <span class="bold styleColor">정보는 자동 파기</span>됩니다.
                    </p>
                </div>

                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">어린이집정보</h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <label class="label">어린이집명</label>
                                <label class="input">
                                    <input type="text" name="nurseryName" value="" />
                                    <div class="note note-error require-nursery-name hide">어린이집명을 입력해주세요.</div>
                                </label>
                            </section>

                            <section>
                                <label class="label">주소</label>
                                <label class="input">
                                    <input type="text" name="nurseryAddress" value="" />
                                    <b class="tooltip tooltip-bottom-right">예) 서울시 강동구 성내동 461-12 2F</b>
                                    <div class="note note-error require-nursery-address hide">어린이집 주소를 입력해주세요.</div>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
                
                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">신청자정보</h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <label class="label">이름</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-user"></i>
                                    <input type="text" name="applicantName" value="" />
                                    <b class="tooltip tooltip-bottom-right">예) 홍길동</b>
                                    <div class="note note-error invalid-applicant-name hide">2 ~ 20자리 한글 또는 영문으로 입력해주세요.</div>
                                </label>
                            </section>

                            <section>
                                <label class="label">이메일주소</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-envelope"></i>
                                    <input type="text" name="applicantEmail" value="" />
                                    <b class="tooltip tooltip-bottom-right">예) id@domain.com</b>
                                    <div class="note note-error invalid-applicant-email hide">올바른 이메일주소를 입력해주세요.</div>
                                </label>
                            </section>

                            <section>
                                <label class="label">휴대폰번호</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-phone"></i>
                                    <input type="text" name="applicantPhone" value="" />
                                    <b class="tooltip tooltip-bottom-right">예) 010-0000-0000</b>
                                    <div class="note note-error invalid-applicant-phone hide">-를 포함한 올바른 휴대폰번호를 입력해주세요.</div>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">
                            이편한시스템 회계서비스 정보
                            <small>이편한시스템 회계서비스를 이용하시는 분은 아이디를 입력해주세요.</small>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <label class="label">이편한 회계 아이디</label>
                                <label class="input">
                                    <i class="icon-prepend fa fa-user-plus"></i>
                                    <input type="text" name="ejbooId" value="" />
                                    <b class="tooltip tooltip-bottom-right">회계서비스를 이용하시는 분은 아이디를 입력해주세요.</b>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <label class="checkbox">
                    <input type="checkbox" name="agree"><i></i>개인정보취급방침에 동의합니다. <a href="/policy" target="_blank">개인정보취급방침</a>
                </label>

                <div class="note note-error hide require-agree">개인정보취급방침에 동의해주세요.</div>

                <div class="text-center nomargin">
                    <input type="button" class="btn btn-primary btn-lg submit" value="서비스 신청" />
                </div>
            </form>
        </div>
    </section>
    <!--[if lte IE 8]>
        </div>
    <![endif]-->
{% endblock %}
