{% extends '../index.html' %}

{% block javascript %}
    <script>
        $(function() {
            $('button.toggle-all').click(function() {
                if ($('button.toggle-all').text().trim() == '전체열기') {
                    $('.toggle-content').show();
                    $('.toggle').addClass('active');
                    $('button.toggle-all').text('전체닫기');
                } else {
                    $('.toggle-content').hide();
                    $('.toggle').removeClass('active');
                    $('button.toggle-all').text('전체열기');
                }
            });

            $('.toggle label').click(function() {
                if ($('.toggle .active').length) {
                    $('button.toggle-all').text('전체닫기');
                } else {
                    $('button.toggle-all').text('전체열기');
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">처음으로</a></li>
                    <li class="active">자주묻는 질문</li>
                </ul>
                <h2 style="border-bottom: 0">
                    자주묻는 질문
                </h2>
            </header>
        </div>
    </section>

    <section class="padding30">
        <div class="container">
            <button class="btn btn-primary btn-sm toggle-all">전체닫기</button>

            <div class="toggle">
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 어린이집 CCTV의 설치 목적은 무엇이고 어떤 법을 적용받나요?</label>
                    <div class="toggle-content" style="display: block">
                        개인정보 보호법 및 영유아보육법에 따라 CCTV를 설치·관리하여, 어린이집에서의 <span class="styleColor">영유아의 안전과 어린이집의 보안</span>을 위하여 설치합니다.<br/>
                        촬영된 영상은 정보주체의 개인정보이므로 운영·관리시 정보주체의 권리는 보호되어야 합니다.<br/>
                        어린이집 CCTV 설치,운영은 「영유아보육법」과 영유아보육법에 규정된 것을 제외하고는 「개인정보보호법」(25조제외)이 적용됩니다.<br/>
                        <ul class="list-icon check-square">
                            <li>
                                개인정보 보호법은 일반법으로서 각 개별법령에 개인정보 관련 규제사항이 있으면 해당 법령내용을 우선 따르고, <span class="styleColor">별도 규정이 없는 경우</span> 개인정보 보호법이 적용됩니다.<br/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 어린이집 밖에서 CCTV 영상을 볼 수 없나요? (CCTV 와 네트워크 카메라의 정의)</label>
                    <div class="toggle-content" style="display: block">
                        "네트워크카메라" 형태로 운영하지 아니하면 어린이집 외부에서 CCTV 영상을 볼 수 없습니다. 아래는 이에 대한 법적 정의입니다.</br>
                        어떠한 장치(IP카메라/DVR)를 이용하여 설치한 바와 관계없이 <span class="styleColor">설치된 장소 이외 장소</span>에서 카메라의 영상정보를 인터넷을 통해 확인 가능하도록 설정 및 설치하였다면 네트워크 카메라 라고 정의 가능
                        <ul class="list-icon check-square">
                            <li>
                            CCTV: <span class="styleColor">일정한 공간</span>에 지속적으로 설치된 카메라를 통하여 영상 등을 촬영하거나 촬영한 영상정보를 유무선 폐쇄회로 등의 전송로를 통하여 특정 장소에 전송하는 장치
                            </li>
                            <li>
                                네트워크 카메라: 일정한 공간에 지속적으로 설치된 기기로 촬영한 영상정보를 그 기기를 <span class="styleColor">설치ㆍ관리하는 자가 유무선 인터넷을 통하여 어느 곳에서나 수집ㆍ저장</span> 등의 처리를 할 수 있도록 하는 장치(국가 지원금 제외대상, 학부모와 교사들에게 1년 주기로 동의 필요)
                            </li>
                            <li>
                                개인정보 제3자 활용동의 : 개인정보보호법 제18조2항의1호에 따라 전체 정보주체 서로간의 개인영상정보 제공 동의를 받은 경우에는 <span class="styleColor">모든 학부모,교사,원장등이 어린이집 밖에서 자유로이 CCTV 영상 열람</span> 가능
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> CCTM은 무엇이고 구성은 어떻게 되나요?</label>
                    <div class="toggle-content" style="display: block">
                        CCTM은 CCTV Management 의 약자로 이편한시스템(주) 에서 개발한 CCTV 관리 서비스입니다.<br/>
                        간략한 구성은 "카메라 - 녹화기(이하 DVR:Digtal Video Recoder) - <span class="styleColor">로컬서버(이하 STB )</span> --- <span class="styleColor">CCTM 서버</span>"으로 서비스 되며, STB 와 CCTM 서버이 자사에서 개발, 관리하는 부분입니다.<br/>
                        카메라와 DVR은 관련법과 본 서비스에 맞는 연동되는 제품을 선정하여 공급합니다.
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 선정된 카메라와 DVR은 어떤 제품인가요?</label>
                    <div class="toggle-content" style="display: block">
                        현재(2015년) 선정된 제조사는 HIKVISION 제품이며 수년간 전세계 CCTV 공급(100개국이상) 및 CCTV 보안 시장에서 점유율 1위인 글로벌 기업입니다.<br/> 
                        하지만 CCTV 시장에는 여러 제조사의 제품이 유통되고 있으므로 2016년 1월부터는 한화테크원, 다화(Dawha), 이디시스 등 SDK(Software Development Kit)을 제공하는 제조사와의 연동 개발이 계획되어 있습니다.<br/>
                        추후 연동되는 제조사가 선정 및 개발 완료되면 공지하도록 하겠습니다.<br/>
                        *ref - <a href="http://www.kisa.or.kr/uploadfile/201311/201311111346011779.pdf" target="_blank">글로벌 정보보호 산업 동향조사(2013)</a>-인터넷진흥원
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 카메라와 DVR의 선정 기준(적외선+HD급)은 무엇인가요?</label>
                    <div class="toggle-content" style="display: block">
                        영유아보육법에 2015년 9월 22일 확정된 화질 기준은 HD급(1280x720화소) 이상, 10fps 이상이고, DVR은 60일이상 녹화입니다.<br/>
                        <span class="styleColor">적외선</span>기능은 어린이집 특성상 낮잠시간이 있기에 필수 기준으로 잡았습니다. 그 외의 기술적인 기준의 근거는 다음과 같습니다.<br/>
                        100만과 130만화소의 카메라를 통해 녹화 될때의 영상 최대해상도는 <br/>
                        1280x720 = 921,600 px(화소) - DVR(100만,130만화소 CAM 동일)<br/>
                        1280x960 = 1,228,800 px(화소) - IP 카메라(130만화소)<br/>
                        입니다.</br>
                        대부분의 설치방식은 동축연결 DVR 방식이므로 100만화소 CAM 과 130만화소 CAM의 <span class="styleColor">녹화 해상도가 동일</span>합니다.<br/>
                        이에 CCTM 에서는 현장 상황에 맞추어 <span class="styleColor">HD급 이상을 기준</span>으로 DVR방식과 IP카메라 방식을 선정하여 공급합니다.
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> CCTM 서비스의 특징 및 목표는 무엇인가요?</label>
                    <div class="toggle-content" style="display: block">
                        CCTM 서비스는 한마디로 통합관재시스템(이하 VMS:Video Management System) 입니다. <br/>
                        보통 수십~수천대의 CCTV 를 관리해야하는 회사 및 관공서(예:교통정보카메라, 지자체보안카메라, 빌딩카메라등) 에서 단독으로 도입하여 사용하는 솔루션입니다. <br/>
                        이에 CCTM에서는 이 기술을 <span class="styleColor">어린이집에 맞게 개발</span>하여 CCTV 운영상에서 발생하는 장비정보, 영상정보, 관리정보 등을 수집, 처리, 가공, 알림등을 하여 CCTV 운영의 안정성, 기능성, 확장성을 극대화하는 서비스를 지속적으로 개발/제공합니다.<br/>
                        어린이집의 운영환경상 가중되는 <span class="styleColor">CCTV 관리업무를 최소화</span>하고 문제/사건 발생시 <span class="styleColor">관리적, 기술적, 물리적 안전성확보조치의 근거자료</span>를 제공해 드리는 것이 서비스의 목표입니다. <br/>
                        아래는 CCTM 에서 제공하는 안전성확보조치의 대표적인 항목들입니다.</br>
                        <ul class="list-icon check-square">
                            <li>
                                관리적 안전성 확보 조치 : 내부관리계획, 영상정보관리대장, 운영관리기록부.</br>
                            </li>
                            <li>    
                                기술적 안전성 확보 조치 : 접근통제시스템, 이중화/암호화 저장, 암호화 통신.</br>
                            </li>
                            <li>
                                물리적 안전성 확보 조치 : DVR 직접연결 모니터 미제공, 저장장치 보관 캐비넷 제공. 안내판 제공</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 안전성 확보 조치는 무엇이며 왜 해야하나요?</label>
                    <div class="toggle-content" style="display: block">
                        카메라가 한 개인을 촬영하면 이는 개인정보에 해당합니다. 이 개인정보를 정보주체 자신이 아닌 타인이 관리하게 되므로 이 개인정보가 분실·도난·유출·변조·훼손되지 아니하도록 하는 모든 조치가 안전성 확보 조치입니다.</br>
                        원아와 교사의 영상이 개인정보가 되며 이 개인정보를 관리하는 어린이집 원장님은 개인정보책임자 및 개인정보처리자가 됩니다.</br>
                        - 영유아보육법 제15조의5 3항</br>
                        - 개인정보보호법 제29조
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 내부관리계획은 무엇인가요?</label>
                    <div class="toggle-content" style="display: block">
                        안전성확보조치 중 관리적 안전성확보조치에 해당하며</br>
                        개인정보처리자가 개인정보를 안전하게 처리하기 위하여 내부 의사결정절차를 통하여 수립·시행하는 내부 기준을 말합니다.</br>
                        개인정보처리를 누가, 어떻게 관리해야하는 어린이집 원내의 자체 기준을 기술한 문서입니다.
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 영상정보관리대장은 무엇이며 내용의 기준은 무엇인가요?</label>
                    <div class="toggle-content" style="display: block">
                        CCTV 를 통한 개인영상정보를 처리하는 여러 행위들을 「개인정보보호법」, 「영유아보육법」에 기술된 법률에 따라 기록하는 문서입니다.</br>
                        각 행위의 기준과 작성요령은 다음과 같습니다.</br> 
                            <ul class="list-icon check-square">
                                <li>
                                     이용 : 개인정보처리자가 영상자료 관리 등을 위해 이용하는 경우  </br>
                                </li>
                                <li>
                                     제공 : 개인정보처리자 및 정보주체가 아닌 제3자에게 주는 경우(제3자가 방문하여 현장에서 화면을 확인한 경우에도 제공에 해당)  </br>
                                </li>
                                <li>
                                     열람 : 정보주체에게 본인의 영상자료를 주는 경우</br>
                                </li>
                                <li>
                                     파기 : 영상자료의 파기, 파기확인을 하는 경우
                                </li>
                            </ul>
                        각 항목의 법적 근거는 다음과 같습니다.</br>
                        - 열람 </br>
                         : 개인정보보호법 시행령 제41조</br>
                         : 영유아보육법 제15조의5 1항</br>
                        - 제공</br>
                         : 개인정보보호법 제18조 5항, 19조</br>
                        - 파기</br>
                         : 표준 개인정보 보호지침 제46조제2항</br>
                         : 민간 영상정보처리기기 가이드라인(행정자치부, 2015.1.12) 16페이지</br>
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i> 개인정보처리의 문제가 생겼을 경우 민·형사상의 어떤 문제가 있나요?</label>
                    <div class="toggle-content" style="display: block">
                        <ul class="list-icon check-square">
                            <li>
                                개인정보보호법 39조(손해배상책임)</br>
                                ① 정보주체는 <span class="styleColor">개인정보처리자</span>가 이 법을 위반한 행위로 손해를 입으면 개인정보처리자에게 손해배상을 청구할 수 있다. 이 경우 그 개인정보처리자는 고의 또는 과실이 없음을 입증하지 아니하면 책임을 면할 수 없다.</br>
                                ② 개인정보처리자가 이 법에 따른 <u>의무를 준수하고 상당한 주의와 감독을 게을리하지 아니한 경우에는 개인정보의 분실·도난·유출·변조·훼손으로 인한 손해배상책임을 감경</u>받을 수 있다.</br>
                            </li>
                            <li> 
                                개인정보보호법 71조(벌칙) 다음 각 호의 어느 하나에 해당하는 자는 5년 이하의 징역 또는 5천만원 이하의 벌금에 처한다.</br>
                                2. 제18조제1항·제2항, 제19조를 위반하여 개인정보를 이용하거나 제3자에게 <span class="styleColor">제공한 자</span> 및 그 사정을 알면서도 영리 또는 부정한 목적으로 개인정보를 제공받은 자</br>
                            </li>
                            <li> 
                                개인정보보호법 73조(벌칙) 다음 각 호의 어느 하나에 해당하는 자는 2년 이하의 징역 또는 1천만원 이하의 벌금에 처한다.</br>
                                1. 안전성 확보에 필요한 조치를 하지 아니하여 개인정보를 분실·도난·유출·변조 또는 훼손<span class="styleColor">당한 자</span></br>
                            </li>
                            <li> 
                                개인정보보호법 제74조(양벌규정)</br>
                                ② 법인의 대표자나 법인 또는 개인의 대리인, 사용인, 그 밖의 종업원이 그 법인 또는 개인의 업무에 관하여 제71조부터 제73조까지의 어느 하나에 해당하는 위반행위를 하면 그 행위자를 벌하는 외에 <span class="styleColor">그 법인 또는 개인에게도</span> 해당 조문의 벌금형을 과(科)한다. 다만, 법인 또는 개인이 <u>그 위반행위를 방지하기 위하여 해당 업무에 관하여 상당한 주의와 감독을 게을리하지 아니한 경우</u>에는 그러하지 아니하다.</br>
                            </li>
                            <li> 
                                영유아보육법 제54조(벌칙)</br>
                                ③ 안전성 확보에 필요한 조치를 하지 아니하여 영상정보를 분실·도난·유출·변조 또는 훼손<span class="styleColor">당한 자</span>는 2년 이하의 징역 또는 2천만원 이하의 벌금에 처한다.</br>
                            </li>
                        </ul>
                        * 이외의 각 벌칙과 연관된 과태료
                    </div>
                </div>
                
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i>CCTV 책임자인 원장님도 개인정보보호교육을 정기적으로 받아야 하나요? </label>
                    <div class="toggle-content" style="display: block">
                        개인정보처리자는 개인(영상)정보 보호책임자 및 개인(영상)정보취급자를 대상으로 매년 정기적으로 개인정보 보호 교육을 실시하도록 되어 있습니다. (개인정보의 안전성 확보조치 기준 해설서 33페이지 참조) </br>
                        * 개인정보의 안전성 확보조치 기준 해설서(행정자치부, 2015.2)
                    </div>
                </div>
                <div class="toggle active">
                    <label><i class="fa fa-search-plus"></i>법이 복잡하고 어려운것 같습니다. 어떻게 운영하는것이 좋은가요? </label>
                    <div class="toggle-content" style="display: block">
                        <ul class="list-icon check-square">
                            <li>
                                평상시</br>
                                어린이집 원장님만 영상열람(실시간 포함) 가능</br>
                            </li>
                            <li>
                                정보주체의 열람요청시</br>
                                어린이집 원장님 동반하에 정보주체와 열람가능</br>
                            </li>
                            <li>
                                영상복제 요청시</br>
                                영상내의 개인영상정보를 알아볼 수 없도록 보호조치</br>
                                * 표준 개인정보 보호지침 50조의 "정보주체 이외의 자를 명백히 알아볼수 있거나 정보주체 이외의 자의 사생활 침해우려가 있는 경우"는 어린이집 CCTV 설치·운영 가이드라인 15페이지의 "정보주체 이외의 자의 사생활 침해우려가 있는 경우"로 대체 명시됨.</br>
                            </li>
                            <li>
                                그 외 특별한 경우
                            </li>
                        </ul>
                        개인정보보호교육을 받아 개인정보관리에 대한 기본지식을 습득하신 후 위 상황에 따라 운영하시면 큰 문제가 없을 수 있습니다.</br>
                        다만, 불미스러운 사건이나 일을 대비하여 내부관리계획을 잘 작성하고 이 계획에 따라 영상정보관리대장을 꾸준히 작성해 나가시면 됩니다.</br>
                        <u>문제나 사건 발생시 유일한 근거는 내부관리계획, 영상정보관리대장 과 기술적, 물리적인 안정성확보조치 사항들입니다.</u></br>
                        이런 일들을 대비하여 저의 이편한시스템에서는 어린이집과 "개인정보처리위탁계약" 을 맺고 <span class="styleColor">번거로운 관리적, 기술적인 사항들은 위탁관리</span>하여 드립니다.
                    </div>
                </div>
            </div>

            <div class="alert alert-default" style="margin-top: 15px";>
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <h4><strong>CCTM 서비스</strong></h4>
                        <p>
                        서비스에 대해 잘 이해 하셨나요? 그럼 즉시 신청하시기 바랍니다.
                        </p>
                    </div>

                    <div class="col-md-3 col-sm-3 text-right">
                        <a href="/shop" class="btn btn-primary btn-lg">서비스 신청하기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
