{% extends '../index.html' %}

{% block javascript %}
    <script>
        $(function() {
            $('form').submit(function() {
                $('label.error').hide();
                $('form').removeClass('has-error');

                var hasError = false;

                var name = $('input[name=name]').val().trim();
                var domainName = $('input[name=domain_name]').val().trim();
                var email = $('input[name=email]').val().trim();
                var password = $('input[name=password]').val().trim();
                var column = $('input[name=column]').val().trim();
                var row = $('input[name=row]').val().trim();
                {% if not client %}
                    var settopId = $('select[name=settop_id]').val();
                    var device1 = $('input[name=device1]').val().trim();
                    var device2 = $('input[name=device2]').val().trim();
                    var recorderIp = $('input[name=recorder_ip]').val().trim();
                    var cameraCount = $('input[name=camera_count]').val().trim();
                {% endif %}

                if (!name) {
                    $('label.name').show();
                    $('input[name=name]').parents('.form-group').addClass('has-error');
                    hasError = true;
                }

                if (!domainName) {
                    $('label.domain-name').show();
                    $('input[name=domain_name]').parents('.form-group').addClass('has-error');
                    hasError = true;
                }

                if (!email) {
                    $('label.email').show();
                    $('input[name=email]').parents('.form-group').addClass('has-error');
                    hasError = true;
                }

                {% if not client %}
                    if (!password) {
                        $('label.password').show();
                        $('input[name=password]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }
                {% endif %}

                column = parseInt(column);
                if (isNaN(column) || Math.round(column) !== column) {
                    $('label.column').show();
                    $('input[name=column]').parents('.form-group').addClass('has-error');
                    hasError = true;
                }

                row = parseInt(row);
                if (isNaN(row) || Math.round(row) !== row) {
                    $('label.row').show();
                    $('input[name=row]').parents('.form-group').addClass('has-error');
                    hasError = true;
                }

                {% if not client %}
                    if (!settopId) {
                        $('label.settop-id').show();
                        $('input[name=settop_id]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }

                    if (!device1) {
                        $('label.device1').show();
                        $('input[name=device1]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }

                    if (!device2) {
                        $('label.device2').show();
                        $('input[name=device2]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }

                    if (!recorderIp) {
                        $('label.recorder-ip').show();
                        $('input[name=recorder_ip]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }

                    cameraCount = parseInt(cameraCount);
                    if (isNaN(cameraCount) || Math.round(cameraCount) !== cameraCount) {
                        $('label.camera-count').show();
                        $('input[name=camera_count]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }
                {% endif %}

                if (hasError) {
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
{% endblock %}

{% block subject %}
    <h2>어린이집 관리</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">처음</a>
        </li>
        <li class="active">
            <strong>어린이집 관리</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <form action="/client/save" method="post" class="form-horizontal">
        <div class="text-center" style="margin-bottom: 10px">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save"></i> 저장</button>
            <a href="/client/list" class="btn btn-sm btn-white">목록</a>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <div style="font-size: 16px"><strong>원장 정보</strong></div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <label class="col-lg-1 control-label">이메일</label>
                    <div class="col-lg-11">
                        <input type="text" name="email" class="form-control" value="{{ client.email }}" />
                        <label class="error email" style="display: none">이메일을 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">패스워드</label>
                    <div class="col-lg-11">
                        <input type="password" name="password" class="form-control" value="{{ client.password }}" />
                        <label class="error password" style="display: none">패스워드를 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">대표자명</label>
                    <div class="col-lg-11">
                        <input type="text" name="representative" class="form-control" value="{{ client.representative }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">전화번호</label>
                    <div class="col-lg-11">
                        <input type="text" name="telephone" class="form-control" value="{{ client.telephone }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">휴대전화번호</label>
                    <div class="col-lg-11">
                        <input type="text" name="cellphone" class="form-control" value="{{ client.cellphone }}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <div style="font-size: 16px"><strong>어린이집 정보</strong></div>
            </div>
            <div class="ibox-content">
                <input type="hidden" name="id" value="{{ client.id }}" />

                <div class="form-group">
                    <label class="col-lg-1 control-label">어린이집명</label>
                    <div class="col-lg-11">
                        <input type="text" name="name" class="form-control" value="{{ client.name }}" />
                        <label class="error name" style="display: none">어린이집명을 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">도메인</label>
                    <div class="col-lg-11">
                        <input type="text" name="domain_name" class="form-control" value="{{ client.domain_name }}" />
                        <label class="error domain-name" style="display: none">도메인(name.cctm.kr)을 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">실시간 영상 열수</label>
                    <div class="col-lg-11">
                        <input type="text" name="column" class="form-control" value="{{ client.option.live.column }}" />
                        <label class="error column" style="display: none">실시간 영상 표시 열수를 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">실시간 영상 행수</label>
                    <div class="col-lg-11">
                        <input type="text" name="row" class="form-control" value="{{ client.option.live.row }}" />
                        <label class="error row" style="display: none">실시간 영상 행수를 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">네트워크 카메라</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="network">
                            <option value="" {% if not client.option.network %}selected="selected"{% endif %}>미사용</option>
                            <option value="1" {% if client.option.network %}selected="selected"{% endif %}>사용</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">모니터 설치여부</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="monitor">
                            <option value="" {% if not client.monitor %}selected="selected"{% endif %}>미사용</option>
                            <option value="1" {% if client.monitor %}selected="selected"{% endif %}>사용</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">운영장비 설치장소</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="place">
                            <option value="" {% if not client.place %}selected="selected"{% endif %}></option>
                            <option value="원장실" {% if client.place == '원장실' %}selected="selected"{% endif %}>원장실</option>
                            <option value="사무실" {% if client.place == '사무실' %}selected="selected"{% endif %}>사무실</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">비고</label>
                    <div class="col-lg-11">
                        <textarea name="note" class="form-control" rows="15">{{ client.note }}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <div style="font-size: 16px"><strong>셋탑 정보</strong></div>
            </div>
            <div class="ibox-content">
                <div class="form-group">
                    <label class="col-lg-1 control-label">Lock 여부</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="lock">
                            <option value="" {% if not client.lock %}selected="selected"{% endif %}>Unlock</option>
                            <option value="1" {% if client.lock %}selected="selected"{% endif %}>Lock</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">셋탑</label>
                    <div class="col-lg-11">
                        {% if client %}
                            <select class="form-control" name="settop_id">
                                <option value="{{client.settop_id}}" selected="selected">{{ client.settop_id }} ({{ client.ip }} , {{ client.private_ip }} , {{ client.public_ip }})</option>
                                {% for settop in settops %}
                                    <option value="{{ settop.id }}">{{ settop.id }} ({{ settop.ip }} , {{ settop.private_ip }} , {{ settop.public_ip }})</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <select class="form-control" name="settop_id">
                                {% for settop in settops %}
                                    <option value="{{ settop.id }}" {% if client.settop_id == settop.id %}selected="selected"{% endif %}>{{ settop.id }} ({{ settop.ip }} , {{ settop.private_ip }} , {{ settop.public_ip }})</option>
                                {% endfor %}
                            </select>
                            <label class="error settop-id" style="display: none">셋탑을 선택해주세요.</label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">하드디스크1</label>
                    <div class="col-lg-11">
                        {% if client %}
                            <p class="form-control-static">
                                {{ client.device1 }}
                            </p>
                        {% else %}
                            <input type="text" name="device1" class="form-control" value="" />
                            <label class="error device1" style="display: none">하드디스크1(/dev/sda)을 입력해주세요.</label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">하드디스크2</label>
                    <div class="col-lg-11">
                        {% if client %}
                            <p class="form-control-static">
                                {{ client.device2 }}
                            </p>
                        {% else %}
                            <input type="text" name="device2" class="form-control" value="" />
                            <label class="error device2" style="display: none">하드디스크2(/dev/sdb)을 입력해주세요.</label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">DVR 아이피</label>
                    <div class="col-lg-11">
                        {% if client %}
                            <p class="form-control-static">
                                {{ client.recorder_ip }}
                            </p>
                        {% else %}
                            <input type="text" name="recorder_ip" class="form-control" value="" />
                            <label class="error recorder-ip" style="display: none">DVR 아이피를 입력해주세요.</label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">카메라 대수</label>
                    <div class="col-lg-11">
                        {% if client %}
                            <p class="form-control-static">
                                {{ client.camera_count }}
                            </p>
                        {% else %}
                            <input type="text" name="camera_count" class="form-control" value="{{ client.camera_count }}" />
                            <label class="error camera-count" style="display: none">카메라 대수를 입력해주세요.</label>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if client %}
            <div class="ibox">
                <div class="ibox-title">
                    <div style="font-size: 16px"><strong>카메라 정보</strong></div>
                </div>
                <div class="ibox-content">
                    {% for camera in cameras %}
                        <h3>카메라 {{ loop.index }}</h3>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">장소</label>
                            <div class="col-lg-11">
                                <select class="form-control" name="place{{ loop.index }}">
                                    <option value="" {% if not camera.place %}selected="selected"{% endif %}></option>
                                    <option value="보육실" {% if camera.place == '보육실' %}selected="selected"{% endif %}>보육실</option>
                                    <option value="공동놀이실" {% if camera.place == '공동놀이실' %}selected="selected"{% endif %}>공동놀이실</option>
                                    <option value="놀이터" {% if camera.place == '놀이터' %}selected="selected"{% endif %}>놀이터</option>
                                    <option value="식당" {% if camera.place == '식당' %}selected="selected"{% endif %}>식당</option>
                                    <option value="강당" {% if camera.place == '강당' %}selected="selected"{% endif %}>강당</option>
                                    <option value="조리실" {% if camera.place == '조리실' %}selected="selected"{% endif %}>조리실</option>
                                    <option value="복도,현관" {% if camera.place == '복도,현관' %}selected="selected"{% endif %}>복도,현관</option>
                                    <option value="사무실" {% if camera.place == '사무실' %}selected="selected"{% endif %}>사무실</option>
                                    <option value="양호실" {% if camera.place == '양호실' %}selected="selected"{% endif %}>양호실</option>
                                    <option value="건물외부" {% if camera.place == '건물외부' %}selected="selected"{% endif %}>건물외부</option>
                                    <option value="기타" {% if camera.place == '기타' %}selected="selected"{% endif %}>기타</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">이름</label>
                            <div class="col-lg-11">
                                <input type="text" name="name{{ loop.index }}" class="form-control" value="{{ camera.name }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">카메라 해상도</label>
                            <div class="col-lg-11">
                                <select class="form-control" name="camera_resolution{{ loop.index }}">
                                    <option value="" {% if not camera.camera_resolution %}selected="selected"{% endif %}></option>
                                    <option value="1920x1080" {% if camera.camera_resolution == '1920x1080' %}selected="selected"{% endif %}>1920x1080</option>
                                    <option value="1280x720" {% if camera.camera_resolution == '1280x720' %}selected="selected"{% endif %}>1280x720</option>
                                    <option value="960x576" {% if camera.camera_resolution == '960x576' %}selected="selected"{% endif %}>960x576</option>
                                    <option value="960x480" {% if camera.camera_resolution == '960x480' %}selected="selected"{% endif %}>960x480</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">저장 해상도</label>
                            <div class="col-lg-11">
                                <select class="form-control" name="stream_resolution{{ loop.index }}">
                                    <option value="" {% if not camera.resolution %}selected="selected"{% endif %}></option>
                                    <option value="1920x1080" {% if camera.resolution == '1920x1080' %}selected="selected"{% endif %}>1920x1080</option>
                                    <option value="1280x720" {% if camera.resolution == '1280x720' %}selected="selected"{% endif %}>1280x720</option>
                                    <option value="960x576" {% if camera.resolution == '960x576' %}selected="selected"{% endif %}>960x576</option>
                                    <option value="960x480" {% if camera.resolution == '960x480' %}selected="selected"{% endif %}>960x480</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">프레임레이트</label>
                            <div class="col-lg-11">
                                <select class="form-control" name="frame{{ loop.index }}">
                                    <option value="0" {% if not camera.resolution %}selected="selected"{% endif %}>0</option>
                                    <option value="10" {% if camera.frame == 10 %}selected="selected"{% endif %}>10</option>
                                    <option value="12" {% if camera.frame == 12 %}selected="selected"{% endif %}>12</option>
                                    <option value="30" {% if camera.frame == 30 %}selected="selected"{% endif %}>30</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-1 control-label">비트레이트</label>
                            <div class="col-lg-11">
                                <input type="text" name="bitrate{{ loop.index }}" class="form-control" value="{{ camera.bitrate }}" />
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="text-center">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save"></i> 저장</button>
            <a href="/client/list" class="btn btn-sm btn-white">목록</a>
        </div>
        <br />
        <br />

    </form>
{% endblock %}
