<div style="width: 100%; text-align: center;">
    <div class="inline" style="width: 9%; text-align: left;">
        <a href="/client/edit" class="btn btn-sm btn-white"><i class="fa fa-plus-square"></i> 추가</a>
    </div>

    <div class="inline" style="text-align: center; width: 80%;">
    </div>

    <div class="inline" style="width: 10%; text-align: right">
        <strong>검색결과:</strong> {{ clients.length }}건
    </div>
</div>
