{% extends '../index.html' %}

{% block javascript %}
    <script>
        var column = '{{ client.option.live.column }}';
        var row = '{{ client.option.live.row }}';
        var format = '{{ format }}';
        var index = 0;

        column = parseInt(column || 0);
        row = parseInt(row || 0);

        {% if format == 'm3u8' %}
            var sources = [];
            {% for camera in cameras %}
                sources.push('{{ camera.url }}');
            {% endfor %}
        {% else %}
            {% for camera in cameras %}
                {% if loop.index0 < client.option.live.column * client.option.live.row %}
                    // preloading 기능 구현 필요함
                    (function(id, url) {
                        /*
                        var load = function() {
                            var img = new Image();
                            img.onload = function () {
                                $(id).find('img').remove();
                                $(img).addClass('camera').appendTo(id);
                                if (screenMode == 'normal') {
                                    normalReSize();
                                } else {
                                    fullReSize();
                                }
                                setTimeout(load, 5000);
                            };
                            img.src = url + '?nocache=' + (new Date).getTime()
                        };
                        load();
                        */

                        index++;
                        setTimeout(function() {
                            var interval = setInterval(function() {
                                $(id).attr('src', url + '?nocache=' + (new Date).getTime());
                            }, 5000);

                            setTimeout(function() {
                                clearInterval(interval);
                            }, 600000);
                        }, index * 1000);
                    })('#camera-{{ camera.id }}', '{{ camera.url }}');
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>

    <script type="text/javascript" src="/javascripts/jquery.fullscreen-min.js"></script>
    <script type="text/javascript" src="/javascripts/live.list.js"></script>
{% endblock %}

{% block footer %}
    <div class="player" style="position: absolute; z-index: 100; overflow: hidden; background-color: #fff; display: none;">
        <div class="control" style="margin-bottom: 3px">
            {% if format == 'm3u8' %}
                <button class="play btn btn-primary btn-sm">재생</button>
                <button class="stop btn btn-primary btn-sm" style="display: none;">정지</button>
            {% endif %}
            <button class="fullsize btn btn-primary btn-sm">크게보기</button>
            <button class="normalsize btn btn-primary btn-sm" style="display: none;">작게보기</button>
            <button class="fullscreen btn btn-primary btn-sm">전체보기</button>
        </div>
        {% if format == 'm3u8' %}
            <object id="player" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="" class="screen">
                <param name="movie"  value="/player/player.swf" />
                <param name="quality" value="autohigh" />
                <param name="swliveconnect" value="true" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="bgcolor" value="#f" />
                <param name="allowFullScreen" value="true" />
                <param name="wmode" value="window" />
                <param name="FlashVars" value="callback=callback" />

                <embed
                    name="player"
                    class="screen"
                    src="/player/player.swf"
                    quality="autohigh"
                    bgcolor="#f"
                    align="middle"
                    allowFullScreen="true"
                    allowScriptAccess="sameDomain"
                    type="application/x-shockwave-flash"
                    swliveconnect="true"
                    wmode="window"
                    FlashVars="callback=callback"
                    pluginspage="http://www.macromedia.com/go/getflashplayer"
                >
                </embed>
            </object>
        {% else %}
            <div id="player" class="screen" style="background-color: #000;">
                <div>
                    {% for camera in cameras %}
                        {% if loop.index0 < client.option.live.column * client.option.live.row %}
                            {% if loop.index0 % client.option.live.column == 0 %}
                                <div style="clear: both;">
                            {% endif %}

                            <div style="float: left;">
                                <!--
                                <a href="/live/play?recorderId={{ camera.recorder_id }}&cameraId={{ camera.id }}&name=main.m3u8" class="lightbox" data-plugin-options='{"type":"iframe"}'>
                                -->
                                    <img class="camera" id="camera-{{ camera.id }}" src="{{ camera.url }}" />
                                <!--
                                </a>
                                -->
                            </div>

                            {% if loop.index % client.option.live.column == 0 %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<!--
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li class="active">실시간 영상</li>
                </ul>
                <h2 style="border-bottom: 0">
                    실시간 영상
                </h2>
            </header>
        </div>          
    </section>
-->
    
    <section>
        <div class="container">
            <div class="alert alert-default fade in">
                <div class="row">
                    {% if intranet %}
                        {% if user %}
                            <div class="col-md-12 col-sm-12">
                                <h4><i class="fa fa-info"></i> 어린이집 내부에서 접속하셨습니다.</h4>
                            </div>
                        {% else %}
                            <div class="col-md-9 col-sm-9">
                                <h4><i class="fa fa-info"></i> <strong>개인영상정보</strong> 보호를 위해 영상이 모자이크 처리되어있습니다.</h4>
                                <p>
                                    원본 영상 열람을 원하실 경우 <strong>로그인</strong>이 필요합니다.
                                </p>
                            </div>

                            <div class="col-md-3 col-sm-3 text-right">
                                <a href="/user/login" rel="nofollow" class="btn btn-primary btn-lg">로그인</a>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if user %}
                            {% if client.option.network %}
                                <div class="col-md-9 col-sm-9">
                                    <h4><i class="fa fa-info"></i> <strong>네트워크카메라</strong> (접속 아이피: {{ ip }})</h4>
                                    <p>
                                        개인정보보호법에 의한 네트워크카메라 운영상태입니다.
                                    </p>
                                </div>

                                <div class="col-md-3 col-sm-3 text-right">
                                    <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#moreDialog">자세한 사항</a>
                                </div>
                            {% else %}
                                <div class="col-md-9 col-sm-9">
                                    <h4><i class="fa fa-info"></i> CCTV가 설치된 장소가 아닙니다.</h4>
                                    <p>
                                        영유아보육법에 의거 영상정보열람이 차단되었습니다.
                                    </p>
                                </div>

                                <div class="col-md-3 col-sm-3 text-right">
                                    <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#moreDialog">자세한 사항</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-md-9 col-sm-9">
                                <h4><i class="fa fa-info"></i> <strong>개인영상정보</strong> 보호를 위해 영상이 모자이크 처리되어있습니다.</h4>
                                <p>
                                    원본 영상 열람을 원하실 경우 <strong>열람 신청</strong> 기능을 이용해주세요.
                                </p>
                            </div>

                            <div class="col-md-3 col-sm-3 text-right">
                                <a href="/management/inspection/edit" rel="nofollow" class="btn btn-primary btn-lg">열람 신청</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="player-placeholder" style="width: 0px; height: 0; margin: 0; padding: 0;">
            </div>
        </div>

        <div class="modal fade" id="moreDialog" tabindex="-1" role="dialog" aria-labelledby="moreDialogLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="moreDialogLabel">자세한 사항</h4>
                    </div>

                    <div class="modal-body">
                        비공개장소 내의 모든 정보주체(학부모, 교직원)에게 "네트워크카메라 동의서"를 받아 본사로 보내주시기 바랍니다. (1년 주기 갱신)
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
