{% extends '../index.html' %}

{% block javascript %}
    <script type="text/javascript" src="/jwplayer/jwplayer.js"></script>

    <!--
    <script type="text/javascript">
        jwplayer("container1").setup({
            autostart: true,
            androidhls: true,
            file: 'http://localhost:8081/hls/main.m3u8',
            primary: 'html5'
        }).removeButton('muteButton');
    </script>
    -->

    <script>
        $(function() {
            setInterval(function() {
                $('#mjpeg').attr('src', 'http://localhost:8081/mjpeg/current.jpg?nocache=' + (new Date).getTime());
            }, 1000);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="slider fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul class="hide">
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-link="http://www.stepofweb.com/" data-target="_blank" data-saveperformance="off" >
                    <img src="assets/images/1x1.png" data-lazyload="assets/images/demo/flickr_9.jpg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" />

                    <div class="tp-caption block_black sfl tp-resizeme" 
                        data-x="70" 
                        data-y="172" 
                        data-speed="750" 
                        data-start="1000" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">페이지 추가
                    </div>

                    <div class="tp-caption block_black sfl tp-resizeme" 
                        data-x="70" 
                        data-y="216" 
                        data-speed="750" 
                        data-start="1400" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">삭제
                    </div>

                    <div class="tp-caption block_black sfr tp-resizeme" 
                        data-x="70" 
                        data-y="260" 
                        data-speed="750" 
                        data-start="1800" 
                        data-easing="easeOutExpo" 
                        data-splitin="none" 
                        data-splitout="none" 
                        data-elementdelay="0.1" 
                        data-endelementdelay="0.1" 
                        data-endspeed="300">기타 다른 슬라이더와 조합도 가능
                    </div>

                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h3><strong>녹화 파일 목록</strong></h3>
                    <ul class="list-icon spaced check-circle">
                        <li>2015-01-12 23:23:12</li>
                        <li>2015-01-12 23:23:12</li>
                        <li>2015-01-12 23:23:12</li>
                        <li>2015-01-12 23:23:12</li>
                        <li>2015-01-12 23:23:12</li>
                    </ul>
                    
                    <div class="margin-top20"><!-- buttons -->
                        <a href="#purchase" target="_blank" rel="nofollow" class="btn btn-primary">PURCHASE EPONA</a>
                        <a href="#" class="btn btn-default">PRICING</a>
                    </div><!-- /buttons -->

                </div>
                <div class="col-md-6 col-sm-6"><!-- right image -->
                    <img class="img-responsive appear-animation" data-animation="fadeIn" src="assets/images/demo/features.jpg" alt="" />
                </div><!-- /right image -->
            </div>

        </div>
    </section>

    <div class="callout styleBackgroundColor arrow-down">
        <div class="container text-center">
            <h2>카메라 설치 정보</h2>
            <p>설명........</p>
        </div>
    </div>

    <section class="nopadding">
        <div class="parallax parallax-1 text-center" style="background-image:url(assets/images/demo/blur.jpg);">
        <!--
        <div class="row text-center countTo paddings styleBackgroundColor">
        -->
        <!--
        <div class="row text-center countTo paddings">
        -->
            <div class="container">

                <div class="row text-center countTo nomargin">
                    <div class="col-md-3 col-sm-6">
                        <span class="nomargin boxed radius3">
                            <strong data-to="13">13</strong>
                            <label>카메라 설치 대수</label>
                        </span>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <span class="nomargin boxed radius3">
                            <strong data-to="2">2</strong>
                            <label>최근 열람 건수</label>
                        </span>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <span class="nomargin boxed radius3">
                            <strong data-to="0">0</strong>
                            <label>최근 파기 건수</label>
                        </span>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <span class="nomargin boxed radius3">
                            <strong data-to="0">0</strong>
                            <label>최근 유출 건수</label>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div id="container1">
    </div>

    <div id="container2" style="width: 480px; height: 270px;">
        <img id="mjpeg" style="width: 100%" src="http://localhost:8081/mjpeg/current.jpg" />
    </div>

    <section style="padding-top: 30px">
        <div class="container text-center">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail">
                    <a class="lightbox" href="assets/images/demo/people/1.jpg" data-plugin-options="{&quot;type&quot;:&quot;image&quot;}">
                        <img class="img-responsive" src="assets/images/demo/other/thumb_o2.jpg" alt="">
                    </a>
                    <div class="caption">
                        <h4>어린이집 평면도</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <div class="callout dark arrow-down">
        <div class="container text-center">
            <h2>개인정보 유출내역</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et.</p>
        </div>
    </div>
    -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>영상정보 관리내역</h4>

                    <div class="alert alert-minimal alert-default nomargin">
                        <button class="close" data-dismiss="alert">×</button>
                        <p><i class="fa fa-info"></i> Adds borders to any table row within <code>&lt;table&gt;</code> by adding the <code>.table-bordered</code> with the base class</p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        구분
                                    </th>
                                    <th class="text-center">
                                        일시
                                    </th>
                                    <th class="text-center">
                                        파일명 / 형태
                                    </th>
                                    <th class="text-center">
                                        목적 / 사유
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>개인정보 유출내역</h4>

                    <div class="alert alert-minimal alert-default nomargin">
                        <button class="close" data-dismiss="alert">×</button>
                        <p><i class="fa fa-info"></i> Adds borders to any table row within <code>&lt;table&gt;</code> by adding the <code>.table-bordered</code> with the base class</p>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        일시
                                    </th>
                                    <th>
                                        1
                                    </th>
                                    <th>
                                        1
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3" class="text-center">개인정보 유출내역이 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-title">
        <div class="container">
            <header>

                <h2><!-- Page Title -->
                    개인정보 유출내역
                </h2><!-- /Page Title -->

            </header>

        </div>          
    </section>
    <!-- WELCOME -->
    <section>
        <div class="container">
        
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        Welcome to 
                        <span class="word-rotator"><!-- word rotator -->
                            <span class="items bold styleColor">
                                <span>Epona</span>
                                <span>the future</span>
                                <span>multipurpose</span>
                            </span>
                        </span><!-- /word rotator -->
                    </h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur imperdiet <em class="styleColor">hendrerit volutpat</em>. Sed in nunc nec ligula consectetur mollis in vel justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis, eu hendrerit enim scel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent scelerisque volutpat turpis.</p>
                </div>
                
                <div class="col-md-6 text-center">
                    <img class="img-responsive animate_fade_in" src="assets/images/demo/desktop.png" alt="" />
                </div>
            </div>

        </div>
    </section>
    <!-- /WELCOME -->



    <!-- DARK CALLOUT -->
    <div class="callout styleBackgroundColor arrow-down">
        <div class="container text-center">

            <h2>Parallax Background &amp; Customizable Content</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et.</p>

        </div>
    </div>
    <!-- /DARK CALLOUT -->

    <!-- VIDEO , PARALLAX -->
    <section class="nopadding">

            <div class="parallax parallax-1 text-center" style="background-image:url(assets/images/demo/blur.jpg);">
                <div class="container">

                    <div class="row text-center countTo nomargin">
                        <div class="col-md-3 col-sm-6">
                            <span class="boxed radius3">
                                <strong data-to="13">13</strong>
                                <label>Years Experience</label>
                            </span>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <span class="boxed radius3">
                                <strong data-to="12000">12000</strong>
                                <label>Hours of Development</label>
                            </span>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <span class="boxed radius3">
                                <strong data-to="3890">3890</strong>
                                <label>Happy Customers</label>
                            </span>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <span class="boxed radius3">
                                <strong data-to="11000">11000</strong>
                                <label>Cups of Coffee</label>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

    </section>
    <!-- /VIDEO , PARALLAX -->


    <!-- SECTION -->
    <section>
        <div class="container">
            
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h3><strong>Amazing</strong> tools to build <strong>awesome</strong> websites</h3>
                    <ul class="list-icon spaced check-circle">
                        <li>Fully responsive so your content will always look good on any device</li>
                        <li>Cool sliders give you the opportunity to showcase your content</li>
                        <li>Advanced template options to easily customize your website</li>
                        <li>Multiple layout options for home pages, portfolio, shop and blog</li>
                        <li>Incredible shortcodes for easy customization</li>
                        <li>Free lifetime update because we care about your website as much as you</li>
                    </ul>
                    
                    <div class="margin-top20"><!-- buttons -->
                        <a href="#purchase" target="_blank" rel="nofollow" class="btn btn-primary">PURCHASE EPONA</a>
                        <a href="#" class="btn btn-default">PRICING</a>
                    </div><!-- /buttons -->

                </div>
                <div class="col-md-6 col-sm-6"><!-- right image -->
                    <img class="img-responsive appear-animation" data-animation="fadeIn" src="assets/images/demo/features.jpg" alt="" />
                </div><!-- /right image -->
            </div>

        </div>
    </section>
    <!-- /SECTION -->


    <!-- SECTION -->
    <section class="alternate">
        <div class="container">
            
            
            <header class="text-center">
                <h2>We Are Dedicated To Our Users &amp; Product</h2>
                <p class="lead">We thrive on making Epona the most complete and trusted template on wrapbootstrap</p>
                <div class="divider half-margins"><!-- divider --></div>
            </header>

            
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <h4>Passion</h4>
                    <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum erat, biluctus mi. Quisque consequat risus quis tincidunt fringilla. Ut sed rhoncus metus, in rhoncus dolor. Integer tempor ligula est, sed luctus metus tempus a. Pellentesque tempor libero et arcu bibendum mollis. Aliquam eu odio eget diam egestas euismod vel sed orc aenean.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4>Precision</h4>
                    <p>Pellentesque tempor libero et arcu bibendum mollis. Donec eu porta elit. Aliquam porta sollicitudin ante, ac fermentum orci mattis et. Phasellus ac nibh eleifend, sagittis purus nec, elementum massa. Quisque tincidunt sapien a sem porttitor, id convallis dolor pharetra. Donec tempor cursus facilisis. Ut eu elementum arcu, vel hendrerit nisi. Cras sed euismod nibh, a adipiscing.</p>
                </div>

                <div class="col-md-4 col-sm-12">

                    <!-- ACCORDION -->
                    <div class="accordion panel-group transparent" id="accordion2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_1">
                                        <i class="fa fa-plus"></i>
                                        Our Company Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="acordion_1" class="collapse">
                                <div class="panel-body">
                                    Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_2">
                                        <i class="fa fa-plus"></i>
                                        The Epona Inside
                                    </a>
                                </h4>
                            </div>
                            <div id="acordion_2" class="collapse">
                                <div class="panel-body">
                                    Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#acordion_3">
                                        <i class="fa fa-plus"></i>
                                        The Epona Philosophy
                                    </a>
                                </h4>
                            </div>
                            <div id="acordion_3" class="collapse">
                                <div class="panel-body">
                                    Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion3" href="#acordion_4">
                                        <i class="fa fa-plus"></i>
                                        Join our great team
                                    </a>
                                </h4>
                            </div>
                            <div id="acordion_4" class="collapse">
                                <div class="panel-body">
                                    Lorem Ipsum, tellus ac cursus commodo, mauris sit condim eser ntumsi nibh, uum a justo vitaes amet risus amets un. Posi sectetut amet fermntum orem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ACCORDION -->

                </div>

            </div>

        </div>
    </section>
    <!-- /SECTION -->
{% endblock %}
