{% extends '../../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">홈</a></li>
                    <li><a href="/management/list">열람 및 파기</a></li>
                    <li class="active">파기 신청</li>
                </ul>
                <h2 style="border-bottom: 0">
                    파기 신청
                </h2>
            </header>
        </div>          
    </section>

    <section>
        <div class="container">
            <div class="alert alert-default fade in">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        파기 신청 서비스는 2015년 12월 19일부터 제공됩니다.
                    </div>
                </div>
            </div>

            <form action="#" method="post" class="sky-form">
                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">기본정보</h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-md-2">작성일</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" value="" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">작성자</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" readonly="readonly" value="" />
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <div class="panel panel-light">
                    <div class="panel-heading">
                        <h3 class="panel-title bold">파일정보</h3>
                    </div>

                    <div class="panel-body">
                        <fieldset>
                            <section>
                                <div class="row">
                                    <label class="label col col-md-2">파기 대상 개인정보파일</label>
                                    <div class="col col-md-10">
                                        <label class="input">
                                            <input type="text" />
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="label col col-md-2">파기 사유</label>
                                    <div class="col col-md-10">
                                        <label class="textarea">
                                            <textarea rows="10"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>

                <!--
                <div class="text-center nomargin">
                    <a class="btn btn-primary" href="#">확인</a>
                </div>
                -->
            </form>
        </div>
    </section>
{% endblock %}
