<!DOCTYPE html>
<!--[if IE 8]>            <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>            <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->    <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>CCTM - 어린이집 CCTV 관리 서비스 By 이편한시스템(주)</title>
        <meta name="keywords" content="어린이집,CCTV,CCTM" />
        <meta name="description" content="어린이집 CCTV 관리 서비스" />
        <meta name="Author" content="이편한시스템(주) [www.ejboo.com]" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

        <!-- Favicon -->
        <link rel="shortcut icon" sizes="16x16" href="/favicons/favicon-16x16.png" />
        <link rel="shortcut icon" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="shortcut icon" sizes="96x96" href="/favicons/favicon-96x96.png" />
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png" />
        <link rel="apple-touch-icon-precomposed" href="/favicons/apple-touch-icon-60x60.png" />

        <!-- WEB FONTS -->
        <link href="/stylesheets/font.css" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/line-icons.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
        <link href="/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/flexslider.css" rel="stylesheet" type="text/css" />

        <!-- REVOLUTION SLIDER -->
        <link href="/assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/layerslider.css" rel="stylesheet" type="text/css" />

        <!-- THEME CSS -->
        <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/header-3.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/footer-default.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

        <!-- Morenizr -->
        <script type="text/javascript" src="/assets/plugins/modernizr.min.js"></script>

        <!--[if lte IE 8]>
            <script src="/assets/plugins/respond.js"></script>
        <![endif]-->

        <!-- Custom -->
        <link href="/stylesheets/custom.css" rel="stylesheet" type="text/css" />

        {% block stylesheet %}{% endblock %}
    </head>

    <body class="smoothscroll">
        <div id="wrapper">
            <header id="topNav" class="fixed">
                <!--[if lte IE 8]>
                    <div class="browser-update text-center">
                        <i class="fa fa-exclamation-triangle"></i>
                        CCTM은 <strong>Microsoft Internet Explorer 8 이하 버전</strong> 브라우저를 지원하지 않습니다. 브라우저를 최신 버전으로 업데이트 하시거나 다른 브라우저를 이용해주세요. <strong><a href="/browser">자세한사항...</a></strong>
                    </div>
                <![endif]-->

                <div class="container">
                    <!-- Logo -->
                    <a class="logo" href="/">
                        <img src="/images/logo.png" height="50" alt="" />
                    </a>

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Top Nav -->
                    <div class="navbar-collapse nav-main-collapse collapse">
                        <nav class="nav-main">
                            <ul id="topMain" class="nav nav-pills nav-main colored">
                                <!--
                                <li class="dropdown{% if controller == 'about' %} active{% endif %}">
                                    <a href="/about/summary" class="dropdown-toggle">
                                        회사소개 <span>About</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/about/summary" class="active">회사개요</a></li>
                                        <li><a href="/about/contact">약도 및 연락처</a></li>
                                    </ul>
                                </li>
                                -->
                                <li {% if controller == 'shop' %}class="active"{% endif %}>
                                    <a href="/shop">
                                        서비스 신청 <span>Shop</span>
                                    </a>
                                </li>
                                <li {% if controller == 'pamphlet' %}class="active"{% endif %}>
                                    <a href="/pamphlet">
                                        팸플릿 <span>Pamphlet</span>
                                    </a>
                                </li>
                                <li {% if controller == 'faq' %}class="active"{% endif %}>
                                    <a href="/faq">
                                        자주묻는 질문 <span>FAQ</span>
                                    </a>
                                </li>
                                <li {% if controller == 'case' %}class="active"{% endif %}>
                                    <a href="/case">
                                        상담사례 <span>Case</span>
                                    </a>
                                </li>
                                <!--
                                <li {% if controller == 'inquiry' %}class="active"{% endif %}>
                                    <a href="/inquiry">
                                        문의하기 <span>Inquiry</span>
                                    </a>
                                </li>
                                -->
                            </ul>
                        </nav>
                    </div>

                    <div style="float: right; padding-top: 8px; font-size: 12px; text-align: right; line-height: 20px;" class="visible-lg">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:admin@cctm.kr">admin@cctm.kr</a>
                        &bull;
                        <i class="fa fa-phone"></i>
                        <a href="tel:1566-2703">1566-2703</a>
                        <br />
                        <a href="/files/%EA%B0%9C%EC%9D%B8%EC%98%81%EC%83%81%EC%A0%95%EB%B3%B4_%EA%B4%80%EB%A6%AC%EB%8C%80%EC%9E%A5_%EC%83%98%ED%94%8C.xls">CCTV 영상정보 관리대장 샘플</a>
                    </div>
                </div>
            </header>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <!-- FOOTER -->
            <footer id="footer">
                <div class="copyright">
                    <div class="container text-center fsize12">
                        사업자등록번호 206-86-44880 | 통신판매업 신고번호 제2015-서울강동-0150호 | 대표자 박진산
                        <br/>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:admin@cctm.kr">admin@cctm.kr</a>
                        &bull;
                        <i class="fa fa-phone"></i>
                        <a href="tel:1566-2703">1566-2703</a>
                        &bull;
                        <i class="fa fa-map-marker"></i>
                        <a href="https://www.google.co.kr/maps/place/%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B0%95%EB%8F%99%EA%B5%AC+%EC%84%B1%EB%82%B4%EB%8F%99+461-12/@37.5259933,127.1259242,16z/data=!3m1!4b1!4m2!3m1!1s0x357caff5f8b9fd05:0xff852b16b4771d8d" target="_blank">서울시 강동구 성내동 461-12 2F</a>

                        <br/>
                        <a href="/terms" class="fsize11">이용약관</a>
                        &bull; 
                        <a href="/policy" class="fsize11">개인정보취급방침</a>
                        &bull; 
                        <a href="/browser" class="fsize11">브라우저지원</a>
                        <br/>
                        <br/>
						&copy; 2015 <a href="http://www.ejboo.com" target="_blank" class="copyright">이편한시스템(주).</a> All Rights Reserved.
                    </div>
                </div>
            </footer>
            <!-- /FOOTER -->

            <a href="#" id="toTop"></a>
        </div><!-- /#wrapper -->

        <!-- JAVASCRIPT FILES -->
        <script type="text/javascript" src="/assets/plugins/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/jquery.isotope.js"></script>
        <script type="text/javascript" src="/assets/plugins/masonry.js"></script>

        <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/knob/js/jquery.knob.js"></script>
        <script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>

        <!-- REVOLUTION SLIDER -->
        <script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="/assets/js/revolution_slider.js"></script>

        <script type="text/javascript" src="/assets/js/scripts.js"></script>

        {% block javascript %}{% endblock %}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-67135776-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
