{% extends '../index.html' %}

{% block javascript %}
    <script>
        $(function() {
            $('form').submit(function() {
                $('label.error').hide();
                $('form').removeClass('has-error');

                var hasError = false;
                var openDate = $('input[name=open_date]').val();
                var asPeriod = $('input[name=as_period]').val();
                var cameraCount = $('input[name=camera_count]').val();

                if (openDate) {
                    if (!/^([0-9]{4}|[0-9]{2})-([0]?[1-9]|[1][0-2])-([0]?[1-9]|[1|2][0-9]|[3][0|1])$/.test(openDate)) {
                        $('label.open-date').show();
                        $('input[name=open_date]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }
                }

                if (asPeriod) {
                    asPeriod = parseInt(asPeriod);
                    if (isNaN(asPeriod) || Math.round(asPeriod) !== asPeriod) {
                        $('label.as-period').show();
                        $('input[name=as_period]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }
                }

                if (cameraCount) {
                    cameraCount = parseInt(cameraCount);
                    if (isNaN(cameraCount) || Math.round(cameraCount) !== cameraCount) {
                        $('label.camera-count').show();
                        $('input[name=camera_count]').parents('.form-group').addClass('has-error');
                        hasError = true;
                    }
                }

                if (hasError) {
                    return false;
                } else {
                    return true;
                }
            });
        });
    </script>
{% endblock %}

{% block subject %}
    <h2>서비스 신청 관리</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">처음</a>
        </li>
        <li class="active">
            <strong>서비스 신청 관리</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <div class="m-b">
                <div>
                    <form method="get" action="/service/estimate" target="download" style="display: inline;"> 
                        <input type="hidden" name="id" value="{{ serviceApplication.id }}">
                        <select class="form-control" name="estimate" style="display: inline; width: 150px; height: 30px; padding: 3px;">
                            <option value='기본' name="estimate">기본</option>
                            {% for estimate in estimates %}
                                {% if estimate != '기본' %}
                                    <option value="{{ estimate }}" {% if estimate == serviceApplication.estimate %}selected="selected"{% endif %}>{{ estimate }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm btn-primary"><i class="fa fa-file-excel-o"></i> 견적서</button>
                    </form>

                    <form method="get" action="/service/calculate" target="download" style="display: inline;"> 
                        <input type="hidden" name="id" value="{{ serviceApplication.id }}">
                        <select class="form-control" name="calculate" style="display: inline; width: 150px; height: 30px; padding: 3px;">
                            <option value='기본'>기본</option>
                            {% for calculate in calculates %}
                                {% if calculate != '기본' %}
                                    <option value="{{ calculate }}" {% if calculate == serviceApplication.calculate %}selected="selected"{% endif %}>{{ calculate }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button class="btn btn-sm btn-primary"><i class="fa fa-file-excel-o"></i> 정산서</button>
                    </form>

                    <iframe id="download" name="download" style="display: none;"></iframe>
                </div>
            </div>

            <form action="/service/save" method="post" class="form-horizontal">
                <input type="hidden" name="id" value="{{ serviceApplication.id }}" />

                <div class="text-center">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save"></i> 저장</button>
                    <a href="/service/list" class="btn btn-sm btn-white">목록</a>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">신청번호</label>
                    <div class="col-lg-11">
                        <p class="form-control-static">
                            {{ serviceApplication.number.toString()[0] }}{{ serviceApplication.number.toString()[1] }}{{ serviceApplication.number.toString()[2] }}{{ serviceApplication.number.toString()[3] }}-{{ serviceApplication.number.toString()[4] }}{{ serviceApplication.number.toString()[5] }}{{ serviceApplication.number.toString()[6] }}{{ serviceApplication.number.toString()[7] }}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">신청일</label>
                    <div class="col-lg-11">
                        <p class="form-control-static">
                            {{ serviceApplication.create_date | date }}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">아이피</label>
                    <div class="col-lg-11">
                        <p class="form-control-static">
                            {{ serviceApplication.ip }}
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">상태</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="status">
                            <option value="submit" {% if serviceApplication.status == 'submit' %}selected="selected"{% endif %}>신청</option>
                            <option value="accept" {% if serviceApplication.status == 'accept' %}selected="selected"{% endif %}>접수</option>
                            <option value="reserve" {% if serviceApplication.status == 'reserve' %}selected="selected"{% endif %}>실사예약</option>
                            <option value="inspect" {% if serviceApplication.status == 'inspect' %}selected="selected"{% endif %}>실사완료</option>
                            <option value="contract" {% if serviceApplication.status == 'contract' %}selected="selected"{% endif %}>설치예약</option>
                            <option value="install" {% if serviceApplication.status == 'install' %}selected="selected"{% endif %}>개통완료</option>
                            <option value="close" {% if serviceApplication.status == 'close' %}selected="selected"{% endif %}>파기</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">어린이집명</label>
                    <div class="col-lg-11">
                        <input type="text" name="nursery_name" class="form-control" value="{{ serviceApplication.nursery_name }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">주소</label>
                    <div class="col-lg-11">
                        <input type="text" name="nursery_address" class="form-control" value="{{ serviceApplication.nursery_address }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">이름</label>
                    <div class="col-lg-11">
                        <input type="text" name="applicant_name" class="form-control" value="{{ serviceApplication.applicant_name }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">이메일주소</label>
                    <div class="col-lg-11">
                        <input type="text" name="applicant_email" class="form-control" value="{{ serviceApplication.applicant_email }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">휴대폰번호</label>
                    <div class="col-lg-11">
                        <input type="text" name="applicant_phone" class="form-control" value="{{ serviceApplication.applicant_phone }}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">ERP ID</label>
                    <div class="col-lg-11">
                        <input type="text" name="ejboo_id" class="form-control" value="{{ serviceApplication.ejboo_id }}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">개원일</label>
                    <div class="col-lg-11">
                        <input type="text" name="open_date" class="form-control" value="{% if serviceApplication.open_date %}{{ serviceApplication.open_date | date('YYYY-MM-DD') }}{% endif %}" />
                        <label class="error open-date" style="display: none">YYYY-MM-DD 형태로 입력해주세요.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">AS기간(년)</label>
                    <div class="col-lg-11">
                        <input type="text" name="as_period" class="form-control" value="{{ serviceApplication.as_period }}" />
                        <label class="error as-period" style="display: none">정수로 입력해주세요.</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">지사</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="manager">
                            <option value="" {% if not serviceApplication.manager %}selected="selected"{% endif %}>없음</option>
                            <option value="강정호" {% if serviceApplication.manager == '강정호' %}selected="selected"{% endif %}>강정호</option>
                            <option value="김경섭" {% if serviceApplication.manager == '김경섭' %}selected="selected"{% endif %}>김경섭</option>
                            <option value="김신구" {% if serviceApplication.manager == '김신구' %}selected="selected"{% endif %}>김신구</option>
                            <option value="김정관" {% if serviceApplication.manager == '김정관' %}selected="selected"{% endif %}>김정관</option>
                            <option value="맹국재" {% if serviceApplication.manager == '맹국재' %}selected="selected"{% endif %}>맹국재</option>
                            <option value="박영수" {% if serviceApplication.manager == '박영수' %}selected="selected"{% endif %}>박영수</option>
                            <option value="변민원" {% if serviceApplication.manager == '변민원' %}selected="selected"{% endif %}>변민원</option>
                            <option value="원소영" {% if serviceApplication.manager == '원소영' %}selected="selected"{% endif %}>원소영</option>
                            <option value="이복님" {% if serviceApplication.manager == '이복님' %}selected="selected"{% endif %}>이복님</option>
                            <option value="정호연" {% if serviceApplication.manager == '정호연' %}selected="selected"{% endif %}>정호연</option>
                            <option value="윤성준" {% if serviceApplication.manager == '윤성준' %}selected="selected"{% endif %}>윤성준</option>
                            <option value="서찬숙" {% if serviceApplication.manager == '서찬숙' %}selected="selected"{% endif %}>서찬숙</option>
                            <option value="김은경" {% if serviceApplication.manager == '김은경' %}selected="selected"{% endif %}>김은경</option>
                            <option value="김회영" {% if serviceApplication.manager == '김회영' %}selected="selected"{% endif %}>김회영</option>
                            <option value="최인성" {% if serviceApplication.manager == '최인성' %}selected="selected"{% endif %}>최인성</option>
                            <option value="윤석한" {% if serviceApplication.manager == '윤석한' %}selected="selected"{% endif %}>윤석한</option>
                            <option value="김창균" {% if serviceApplication.manager == '김창균' %}selected="selected"{% endif %}>김창균</option>
                            <option value="우영제" {% if serviceApplication.manager == '우영제' %}selected="selected"{% endif %}>우영제</option>
                            <option value="전준후" {% if serviceApplication.manager == '전준후' %}selected="selected"{% endif %}>전준우</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">설치여부</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="install">
                            <option value="" {% if not serviceApplication.install %}selected="selected"{% endif %}>모름</option>
                            <option value="미설치" {% if serviceApplication.install == '미설치' %}selected="selected"{% endif %}>미설치</option>
                            <option value="기설치" {% if serviceApplication.install == '기설치' %}selected="selected"{% endif %}>기설치</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">카메라대수</label>
                    <div class="col-lg-11">
                        <input type="text" name="camera_count" class="form-control" value="{{ serviceApplication.camera_count }}" />
                        <label class="error camera-count" style="display: none">정수로 입력해주세요.</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">CAM화소</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="camera_pixel">
                            <option value="HD급" {% if serviceApplication.camera_pixel == 'HD급' %}selected="selected"{% endif %}>HD급</option>
                            <option value="210만 화소" {% if serviceApplication.camera_pixel == '210만 화소' %}selected="selected"{% endif %}>210만 화소</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">출장비포함</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="travel_expense">
                            <option value="비포함" {% if serviceApplication.travel_expense == '비포함' %}selected="selected"{% endif %}>비포함</option>
                            <option value="포함" {% if serviceApplication.travel_expense == '포함' %}selected="selected"{% endif %}>포함</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">입금여부</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="deposit">
                            <option value="" {% if not serviceApplication.deposit %}selected="selected"{% endif %}>없음</option>
                            <option value="완불" {% if serviceApplication.deposit == '완불' %}selected="selected"{% endif %}>완불</option>
                            <option value="일부" {% if serviceApplication.deposit == '일부' %}selected="selected"{% endif %}>일부</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">서류처리</label>
                    <div class="col-lg-11">
                        <select class="form-control" name="process">
                            <option value="" {% if not serviceApplication.process %}selected="selected"{% endif %}>없음</option>
                            <option value="견적서" {% if serviceApplication.process == '견적서' %}selected="selected"{% endif %}>견적서</option>
                            <option value="보조금신청서" {% if serviceApplication.process == '보조금신청서' %}selected="selected"{% endif %}>보조금신청서</option>
                            <option value="계약서" {% if serviceApplication.process == '계약서' %}selected="selected"{% endif %}>계약서</option>
                            <option value="정산서" {% if serviceApplication.process == '정산서' %}selected="selected"{% endif %}>정산서</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">비고</label>
                    <div class="col-lg-11">
                        <textarea name="note" class="form-control" rows="15">{{ serviceApplication.note }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-1 control-label">어린이집 DB 정보</label>
                    <div class="col-lg-11">
                        <div class="table-responsive project-list">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="27">
                                        </th>
                                        <th>
                                            어린이집명
                                        </th>
                                        <th nowrap="nowrap">
                                            대표자명
                                        </th>
                                        <th nowrap="nowrap">
                                            유형
                                        </th>
                                        <th nowrap="nowrap">
                                            정원 / 현원
                                        </th>
                                        <th nowrap="nowrap">
                                            보육실수
                                        </th>
                                        <th nowrap="nowrap">
                                            전화번호
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for nursery in nurseries %}
                                        <tr>
                                            <td style="text-align: center" valign="middle">
                                                <input type="radio" name="nursery_id" value="{{ nursery.id }}" {% if serviceApplication.nursery_id == nursery.id %}checked="checked"{% endif %} />
                                            </td>
                                            <td class="issue-info">
                                                {{ nursery.name }}
                                                <small>
                                                    {{ nursery.address }}
                                                </small>
                                            </td>
                                            <td nowrap="nowrap">
                                                <input style="width: 80px" type="text" value="{{ nursery.representative }}" />
                                            </td>
                                            <td nowrap="nowrap">
                                                <input style="width: 80px" type="text" value="{{ nursery.type }}" />
                                            </td>
                                            <td nowrap="nowrap">
                                                <input style="width: 80px" type="text" value="{{ nursery.limit_count }} / {{ nursery.child_count }}" />
                                            </td>
                                            <td nowrap="nowrap">
                                                <input style="width: 80px" type="text" value="{{ nursery.classroom_count }}" />
                                            </td>
                                            <td nowrap="nowrap">
                                                <input style="width: 80px" type="text" value="{{ nursery.tel }}" />
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save"></i> 저장</button>
                    <a href="/service/list" class="btn btn-sm btn-white">목록</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
