{% extends '../index.html' %}

{% block subject %}
    <h2>서비스 신청 관리</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">처음</a>
        </li>
        <li class="active">
            <strong>서비스 신청 관리</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="ibox">
        <div class="ibox-title">
            <form action="/service/list" method="post" class="form-horizontal">
                <div class="m-b">
                    <div class="inline">
                        <select class="form-control" name="status">
                            <option value="">상태전체</option>
                            <option value="submit" {% if status == 'submit' %}selected="selected"{% endif %}>신청</option>
                            <option value="accept" {% if status == 'accept' %}selected="selected"{% endif %}>접수</option>
                            <option value="reserve" {% if status == 'reserve' %}selected="selected"{% endif %}>실사예약</option>
                            <option value="inspect" {% if status == 'inspect' %}selected="selected"{% endif %}>실사완료</option>
                            <option value="contract" {% if status == 'contract' %}selected="selected"{% endif %}>설치예약</option>
                            <option value="install" {% if status == 'install' %}selected="selected"{% endif %}>개통완료</option>
                            <option value="close" {% if status == 'close' %}selected="selected"{% endif %}>파기</option>
                        </select>
                    </div>
                    <div class="inline">
                        <select class="form-control" name="manager">
                            <option value="지사전체" {% if manager == '지사전체' %}selected="selected"{% endif %}>지사전체</option>
                            <option value="" {% if not manager %}selected="selected"{% endif %}>없음</option>
                            <option value="강정호" {% if manager == '강정호' %}selected="selected"{% endif %}>강정호</option>
                            <option value="김경섭" {% if manager == '김경섭' %}selected="selected"{% endif %}>김경섭</option>
                            <option value="김신구" {% if manager == '김신구' %}selected="selected"{% endif %}>김신구</option>
                            <option value="김정관" {% if manager == '김정관' %}selected="selected"{% endif %}>김정관</option>
                            <option value="맹국재" {% if manager == '맹국재' %}selected="selected"{% endif %}>맹국재</option>
                            <option value="박영수" {% if manager == '박영수' %}selected="selected"{% endif %}>박영수</option>
                            <option value="변민원" {% if manager == '변민원' %}selected="selected"{% endif %}>변민원</option>
                            <option value="원소영" {% if manager == '원소영' %}selected="selected"{% endif %}>원소영</option>
                            <option value="이복님" {% if manager == '이복님' %}selected="selected"{% endif %}>이복님</option>
                            <option value="정호연" {% if manager == '정호연' %}selected="selected"{% endif %}>정호연</option>
                            <option value="윤성준" {% if manager == '윤성준' %}selected="selected"{% endif %}>윤성준</option>
                            <option value="서찬숙" {% if manager == '서찬숙' %}selected="selected"{% endif %}>서찬숙</option>
                            <option value="김은경" {% if manager == '김은경' %}selected="selected"{% endif %}>김은경</option>
                            <option value="김회영" {% if manager == '김회영' %}selected="selected"{% endif %}>김회영</option>
                            <option value="최인성" {% if manager == '최인성' %}selected="selected"{% endif %}>최인성</option>
                            <option value="윤석한" {% if manager == '윤석한' %}selected="selected"{% endif %}>윤석한</option>
                            <option value="김창균" {% if manager == '김창균' %}selected="selected"{% endif %}>김창균</option>
                            <option value="우영제" {% if manager == '우영제' %}selected="selected"{% endif %}>우영제</option>
                            <option value="전준후" {% if manager == '전준후' %}selected="selected"{% endif %}>전준우</option>
                        </select>
                    </div>
                    <div class="inline">
                        <select class="form-control" name="install">
                            <option value="설치여부전체" {% if install == '설치여부전체' %}selected="selected"{% endif %}>설치여부전체</option>
                            <option value="" {% if not install %}selected="selected"{% endif %}>모름</option>
                            <option value="미설치" {% if install == '미설치' %}selected="selected"{% endif %}>미설치</option>
                            <option value="기설치" {% if install == '기설치' %}selected="selected"{% endif %}>기설치</option>
                        </select>
                    </div>
                    <div class="inline">
                        <select class="form-control" name="cameraCount">
                            <option value="카메라대수전체" {% if cameraCount == '카메라대수전체' %}selected="selected"{% endif %}>카메라대수전체</option>
                            {% for i in range(0, 31) %}
                                <option value="{{ i }}" {% if cameraCount == i %}selected="selected"{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="inline">
                        <select class="form-control" name="deposit">
                            <option value="입금여부전체" {% if deposit == '입금여부전체' %}selected="selected"{% endif %}>입금여부전체</option>
                            <option value="" {% if not deposit %}selected="selected"{% endif %}>없음</option>
                            <option value="완불" {% if deposit == '완불' %}selected="selected"{% endif %}>완불</option>
                            <option value="일부" {% if deposit == '일부' %}selected="selected"{% endif %}>일부</option>
                        </select>
                    </div>
                    <div class="inline">
                        <select class="form-control" name="process">
                            <option value="서류처리전체" {% if process == '서류처리전체' %}selected="selected"{% endif %}>서류처리전체</option>
                            <option value="" {% if not process %}selected="selected"{% endif %}>없음</option>
                            <option value="견적서" {% if process == '견적서' %}selected="selected"{% endif %}>견적서</option>
                            <option value="보조금신청서" {% if process == '보조금신청서' %}selected="selected"{% endif %}>보조금신청서</option>
                            <option value="계약서" {% if process == '계약서' %}selected="selected"{% endif %}>계약서</option>
                            <option value="정산서" {% if process == '정산서' %}selected="selected"{% endif %}>정산서</option>
                        </select>
                    </div>
                </div>

                <div class="m-b">
                    <input type="text" name="search" placeholder="신청번호, 어린이집명, 주소, 이름, 이메일주소, 회계서비스 아이디, 비고 검색..." class="form-control" value="{{ search }}" />
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 검색</button>
                    <a href="/service/list?init=1" class="btn btn-sm btn-white">초기화</a>
                </div>
            </form>

            <div class="hr-line-dashed"></div>

            <div class="m-b">
                {% include './page.html' %}
            </div>

            <div class="table-responsive project-list">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <!--
                            <th nowrap="nowrap">
                                신청번호
                            </th>
                            -->
                            <th nowrap="nowrap">
                                상태
                            </th>
                            <th>
                                어린이집명
                            </th>
                            <th nowrap="nowrap">
                                이름
                            </th>
                            <th nowrap="nowrap">
                                이메일주소
                            </th>
                            <th nowrap="nowrap">
                                휴대폰번호
                            </th>
                            <th nowrap="nowrap">
                                신청일
                            </th>
                            <th nowrap="nowrap">
                                지사
                            </th>
                            <th nowrap="nowrap">
                                설치<br/>여부
                            </th>
                            <th nowrap="nowrap">
                                카메라<br/>대수
                            </th>
                            <th nowrap="nowrap">
                                비고
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in serviceApplications %}
                            <tr>
                                <!--
                                <td nowrap="nowrap">
                                    {{ application.number.toString()[0] }}{{ application.number.toString()[1] }}{{ application.number.toString()[2] }}{{ application.number.toString()[3] }}-{{ application.number.toString()[4] }}{{ application.number.toString()[5] }}{{ application.number.toString()[6] }}{{ application.number.toString()[7] }}
                                </td>
                                -->
                                <td>
                                    {% if application.status == 'submit' %}
                                        <span class="label label-danger">신청</span>
                                    {% elif application.status == 'accept' %}
                                        <span class="label label-success">접수</span>
                                    {% elif application.status == 'reserve' %}
                                        <span class="label label-info">실사예약</span>
                                    {% elif application.status == 'inspect' %}
                                        <span class="label label-warning">실사완료</span>
                                    {% elif application.status == 'contract' %}
                                        <span class="label label-primary">설치예약</span>
                                    {% elif application.status == 'install' %}
                                        <span class="label label-white">개통완료</span>
                                    {% elif application.status == 'close' %}
                                        <span class="label label-default">파기</span>
                                    {% else %}
                                        <span class="label label-default">{{ application.status }}</span>
                                    {% endif %}
                                </td>
                                <td class="issue-info">
                                    {{ application.nursery_name }}
                                    <small>
                                        {{ application.nursery_address }}
                                    </small>
                                </td>
                                <td nowrap="nowrap">
                                    {{ application.applicant_name }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ application.applicant_email }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ application.applicant_phone }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ application.create_date | date('YYYY-MM-DD') }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ application.manager if application.manager else "없음" }}
                                </td>
                                <td nowrap="nowrap">
                                    {{ application.install if application.install else "모름"  }}
                                </td>
                                <td nowrap="nowrap">
                                    {% if application.camera_count == null %}
                                        모름
                                    {% else %}
                                        {{ application.camera_count }}
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">
                                    {% if application.note %}
                                        <a href="#" onclick="return false" data-toggle="popover" data-container="body" data-placement="top" data-originam-title="" data-content="{{ application.note }}">{{ application.note | truncate(5) }}</a>
                                    {% endif %}
                                </td>
                                <td nowrap="nowrap">
                                    <a href="/service/edit?id={{ application.id }}" class="btn btn-xs btn-success"><i class="fa fa-edit"></i> 수정</a>
                                    <a href="/service/estimate?id={{ application.id }}&estimate=기본" class="btn btn-xs btn-primary"><i class="fa fa-file-excel-o"></i> 견적서</a>
                                    <button class="btn btn-xs btn-white" data-toggle="modal" data-target="#confirm-delete-{{ application.id }}"><i class="fa fa-trash"></i> 삭제</button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11" style="padding: 10px; text-align: center;">표시할 항목이 없습니다.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="m-b">
                {% include './page.html' %}
            </div>
        </div>
    </div>

    {% for application in serviceApplications %}
        <div class="modal inmodal" id="confirm-delete-{{ application.id }}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        정말로 삭제하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <a href="/service/delete?id={{ application.id }}" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i> 삭제</a>
                        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <iframe id="download" name="download" style="display: none;"></iframe>
{% endblock %}
