<!--
<table width="100%">
    <tr>
        <td width="20%" valign="middle" style="text-align: left">
            <form action="/service/download" method="post">
                <input type="hidden" name="status" value="{{ status }}" />
                <input type="hidden" name="search" value="{{ search }}" />
                <input type="hidden" name="manager" value="{{ manager }}" />
                <input type="hidden" name="install" value="{{ install }}" />
                <button type="submit" target="download" class="btn btn-sm btn-white"><i class="fa fa-download"></i> 엑셀 다운로드</button>
            </form>
        </td>
        <td width="60%" valign="middle" style="text-align: center">
            <ul class="pagination">
                <li>
                    <a href="/service/list?page={{ first }}">처음</a>
                </li>
                <li>
                    <a href="/service/list?page={{ prev }}">이전</a>
                </li>
                {% for i in range(start, end + 1) %}
                    <li {% if page == i %}class="active"{% endif %}>
                        <a href="/service/list?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="/service/list?page={{ next }}">다음</a>
                </li>
                <li>
                    <a href="/service/list?page={{ last }}">끝</a>
                </li>
            </ul>
        </td>
        <td width="20%" valign="middle" style="text-align: right">
            <strong>검색결과:</strong> 11건
        </td>
    </tr>
</table>
-->

<div style="width: 100%; text-align: center;">
    <div class="inline" style="width: 9%; text-align: left;">
        <form action="/service/download" method="post">
            <input type="hidden" name="status" value="{{ status }}" />
            <input type="hidden" name="search" value="{{ search }}" />
            <input type="hidden" name="manager" value="{{ manager }}" />
            <input type="hidden" name="install" value="{{ install }}" />
            <button type="submit" target="download" class="btn btn-sm btn-white"><i class="fa fa-download"></i> 엑셀 다운로드</button>
        </form>
    </div>

    <div class="inline" style="text-align: center; width: 80%;">
        <ul class="pagination" style="margin-bottom: -11px;">
            <li>
                <a href="/service/list?page={{ first }}">처음</a>
            </li>
            <li>
                <a href="/service/list?page={{ prev }}">이전</a>
            </li>
            {% for i in range(start, end + 1) %}
                <li {% if page == i %}class="active"{% endif %}>
                    <a href="/service/list?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="/service/list?page={{ next }}">다음</a>
            </li>
            <li>
                <a href="/service/list?page={{ last }}">끝</a>
            </li>
        </ul>
    </div>

    <div class="inline" style="width: 10%; text-align: right">
        <strong>검색결과:</strong> {{ count }}건
    </div>
</div>
