{% extends '../index.html' %}

{% block stylesheet %}
    <style>
        .management {
            padding: 15px;
        }

        .management h2,
        .management h3 {
            text-align: center;
        }

        .management h4 {
            margin-top: 20px;
        }

        .management h3 {
            margin-top: 60px;
        }

        .management p {
            margin-left: 15px;
            margin-bottom: 0px;
        }

        .management li {
        }
    </style>
{% endblock %}

{% block javascript %}
    {% if print %}
        <script>
            window.onload = function() {
                window.print();
            };
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="management">
        {% if not print %}
            <div class="text-right" style="padding-bottom: 30px;">
                <a href="/policy/management?print=1" class="btn btn-primary" target="download">출력하기</a>
                <a href="/policy/management.pdf" class="btn btn-primary" target="download">다운로드</a>
                <iframe id="download" name="download" style="display: none;"></iframe>
            </div>
        {% endif %}

        <h2>{{ client.name }} 영상정보처리기기(CCTV) 내부 관리계획</h2>
        <p style="text-align: right">{{ client.name }}</p>

        <h3>제1장 총칙</h3>

        <h4>제1조(목적)</h4>
        <p>영유아보육법 제15의1 내지 제15조의4 및 개인정보보호법 관련 규정을 구체화하여 본원 영유아의 건강하고 안전한 보육의 정착을 위해서 노력하는 교사의 교권 및 권리의 보호, 교사의 전문성 향상, 어린이집 영유아의 안전, 보육프로그램 향상, 보육기관의 투명한 운영을 위함이다.</p>


        <h4>제2조(정의)</h4>
        <p>이 지침에서 사용하는 용어의 정의는 다음과 같다</p>
        <ol>
            <li>“CCTV"라 함은 일정한 장소에 설치된 촬영기기로 수집한 화상정보를 폐쇄적인 유무선 전송로를 통하여 특정인만 수신할 수 있는 통신장비 일체를 말한다.</li>
            <li>“화상정보”라 함은 CCTV로 촬영된 영상에 의하여 당해 개인의 동일성 여부를 확인 할 수 있는 정보를 말한다.</li>
            <li>“정보주체”라 함은 화상정보에 의하여 식별된 사람으로, 당해 화상정보의 주체가 되는 자연인을 말한다.</li>
            <li>“정보처리”라 함은 CCTV에 의하여 수집되는 화상정보를 입력․저장․편집․삭제 및 재생하는 행위를 말한다.</li>
        </ol>

        <h4>제3조(적용범위)</h4>
        <p>{{ client.name }}에 설치 운영하는 CCTV와 관련하여 수집 처리되는 화상정보의 보호에 관하여서는 다른 법령에 특별한 규정이 있는 경우를 제외하고는 이 기준이 정하는 바에 따른다.</p>

        <h4>제4조(기본방침)</h4>
        <p>어린이집에 설치하는 CCTV는 어린이의 안전, 화재예방, 범죄예방 등 어린이집 안전관리를 목적으로 한다.</p>


        <h3>제2장 CCTV 운영 및 관리</h3>

        <h4>제5조(책임관지정)</h4>
        <p>CCTV 설치 운영책임관(이하 ‘책임관’이라 한다.)을 다음과 같이 지정한다.</p>
        <ol>
            <li>
                CCTV설치 운영책임관
                <div>
                    가. 책임관: {{ client.name }} 원장
                    <!--
                    <br />
                    나. 운영(담당)자: {{ client.name }} 보육교직원
                    -->
                </div>
            </li>
            <li>제1항에 따른 책임관은 어린이집 CCTV설치 운영, 화상정보의 수집 및 처리, CCTV관련 민원의 접수 및 처리 등에 관한 업무를 총괄한다.</li>
            <li>책임관은 운영자를 겸할 수 있다.</li>
        </ol>

        <h4>제6조(CCTV 설치)</h4>
        <ol>
            <li>
                어린이집 CCTV는 총 {{ cameras.length }}대 설치하며 설치장소는 각호와 같다.
                <div>
                    {% for place in places %}
                        {% if camerasByPlace[place] %}
                            {{ indexes.shift() }}. {{ place }} {{ camerasByPlace[place].length }}대
                            <br />
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li>
                제1항에 따라 설치되는 CCTV는 정보주체가 이를 쉽게 인식할 수 있도록 별첨과 같은 안내판을 CCTV 설치장소에 부착한다.
            </li>
            <li>
                다음 각 호의 CCTV운영 장비는 {{ client.name }}{% if client.place %} {{ client.place }}{% endif %}에 설치하며, 장비의 조작은 접근권한이 부여된 자 외에 조작을 엄격히 통제한다.
                <div>
                    가. 디지털녹화기
                    <br />
                    나. 그 밖의 부대장치
                    {% if client.monitor %}
                        <br />
                        다. CCTV 운영모니터
                    {% endif %}
                </div>
            </li>
        </ol>

        <h4>제7조(CCTV 성능 및 촬영시간)</h4>
        <p>어린이집 내 설치하는 CCTV 성능 및 촬영시간은 다음과 같다.</p>
        <ol>
            <li>CCTV 성능: {{ cameraResolution }}</li>
            <li>CCTV 촬영: 일과중 촬영</li>
            <li>CCTV 정보보유기간: 60일</li>
            <li>CCTV 저장: {{ streamResolution }}, 초당 {{ frame }} 프레임</li>
            <li>영상자료의 저장장치 또는 기기: {{ client.name }}{% if client.place %} {{ client.place }}{% endif %}에 있는 저장장치</li>
        </ol>

        <h3>제3장 화상정보 취급 및 관리</h3>

        <h4>제8조(CCTV 사용 제한)</h4>
        <p>제6조제1항에 따라 설치된 CCTV 운영자는 설치목적과 관계없는 다음 각 호의 행위를 하여서는 안 된다.</p>
        <ol>
            <li>카메라를 임의로 조작하거나 다른 곳을 비추는 행위</li>
            <li>설치목적과 관련 없는 화상정보를 수집하기 위해 카메라 회전 및 확대(Zoom-in)기능을 사용하는 행위</li>
            <li>녹음기능을 탑재하거나 녹음을 하는 행위</li>
        </ol>

        <h4>제9조(화상정보 처리 제한)</h4>
        <p>책임관은 정보주체의 화상정보를 CCTV의 설치목적 외의 용도로 활용하거나 접근권한이 부여된 자 이외의 타인에게 열람·제공하여서는 안 된다. 다만, 정보주체 또는 제3자의 권리와 이익을 부당하게 침해할 우려가 있는 경우를 제외한 다음 각 호의 어느 하나의 경우에는 그러하지 않는다.</p>
        <ol>
            <li>정보주체의 동의가 있거나 정보주체에게 열람·제공하는 경우</li>
            <li>다른 법률에 특별한 규정이 있는 경우</li>
            <li>신문·방송을 통한 언론보도의 목적을 위하여 필요한 때로서 특정개인을 알아볼 수 없는 행태로 제공하는 경우</li>
            <li>정보주체의 권익을 보호해야 할 필요성이 명백하고 현존하는 때로서 정보주체의 동의를 얻지 못할 급박한 사유가 존재하는 경우</li>
            <li>범죄의 수사와 공소의 제기 및 유지에 필요한 경우</li>
            <li>법원의 재판업무수행을 위하여 필요한 경우</li>
        </ol>

        <h4>제10조(화상정보의 이용 및 제공처리 제한)</h4>
        <ol>
            <li>
                화상정보를 이용하거나 제공받고자 하는 자 및 기관은 별첨 제6호의 서식에 따라 이용목적 및 이용하고자 하는 처리정보의 범위를 명시하여 책임관에게 문서로 요청하여야 한다.
            </li>
            <li>
                책임관은 제1항에 따른 열람청구를 받은 때에는 청구서를 받은 날부터 10일 이내에 열람의 허용여부, 열람일시 및 장소를 결정하고 별첨 제7호 서식에 따른 열람결정통지서를 청구인에게 송부하여야 한다. 다만, 열람청구를 받는 즉시 열람하도록 하는 경우에는 열람결정통지서 송부를 생략할 수 있다.
            </li>
            <li>
                책임관은 제1항에 따라 처리정보의 이용 또는 제공을 요청한 기관에 영상정보를 이용하게 하거나 제공하는 경우에는 다음 각 호의 사항을 별첨 제10호 서식에 따른 영상정보(화상정보) 이용·제공대장에 기록하고 이를 관리하여야 한다.
                <div>
                    가. 개인정보파일의 명칭
                    <br />
                    나. 이용 또는 제공을 요청한 기관의 명칭
                    <br />
                    다. 이용하거나 제공받는 목적
                    <br />
                    라. 법령상 이용 또는 제공 근거가 있는 경우에는 그 근거
                    <br />
                    마. 이용 또는 제공을 요청하는 정보의 항목
                </div>
            </li>
            <li>
                책임관은 처리정보의 전부 또는 일부에 대하여 열람을 허용하지 아니하기로 결정한 때에는 그 사유와 법령상 근거 및 당해 결정에 대한 불복절차에 관한 사항을 기재한 별지 제3호 서식의 열람제한사유를 명시하여 청구인에게 송부하여야 한다.
            </li>
            <li>
                청구인이 당해 결정에 대해 불복 시 어린이집 운영위원회 위원으로 구성된 ‘심의위원회’를 통해 재결한다.
            </li>
            <li>
                책임관은 보유목적에 따라 화상정보를 이용하거나 제공하는 경우에도 업무수행에 필요한 최소한의 범위로 그 이용 또는 제공을 제한하여야 한다.
            </li>
        </ol>

        <h4>제11조(처리정보의 정정 및 삭제 등)</h4>
        <ol>
            <li>
                제10조에 따라 본인의 처리정보를 열람한 정보주체는 책임관에게 별지 제6호 서식에 따라 화상정보의 정정 또는 삭제를 요청할 수 있으며, 책임관은 처리정보의 정정 및 삭제청구를 받은 때에는 청구서를 받은 날부터 5일 이내에 열람의 허용여부, 열람일시 및 장소를 결정하고 별지 제 0호 서식에 따른 정정(삭제)조치결과통지서를 청구인에게 송부하여야 한다.
            </li>
            <li>
                책임관은 제1항의 규정에도 불구하고 다음 각 호의 어느 하나에 해당하는 경우 이를 거부할 수 있다. 이 경우 책임관은 청구서를 받은 날부터 10일 이내에 거부사유 및 불복방법을 정보주체에게 별지 제5호 서식에 따른 서면(정보통신망 포함)통지하여야 한다.
                <div>
                    가. 범죄수사·공소유지·재판수행에 중대한 지장을 초래하는 경우
                    <br />
                    나. 특정 정보주체의 화상정보만을 삭제하는 것이 기술적으로 현저히 곤란한 경우
                    <br />
                    다. 정보주체의 요청에 따라 필요한 조치를 취함으로써 타인의 사생활권이 침해될 우려가 큰 경우
                    <br />
                    라. 그 밖에 열람 등의 요청을 거절할 만한 정당한 공익적 사유가 존재하는 경우
                </div>
            </li>
        </ol>

        <h4>제12조(화상정보 보호 조치)</h4>
        <ol>
            <li>책임관은 제6조제3항에 따른 CCTV 운영 장비 설치장소를 출입제한구역으로 지정하고 접근권한이 부여된 자 외의 출입을 엄격히 통제하여야 한다.</li>
            <li>제1항에 따른 CCTV 화상정보 접근권한은 {{ client.name }} 운영담당 직원으로 제한한다.</li>
            <li>책임관은 CCTV 화상정보 접근권한을 부여받은 직원에 대해 정보주체의 개인정보보호를 위한 교육을 이수할 수 있도록 하여야 한다.</li>
        </ol>

        <h4>제13조(화상정보 보관 관리)</h4>
        <p>CCTV에 의하여 수집된 화상정보의 보관기간은 수집 후 60일 이내로 하며, 보관기간이 만료된 자료는 삭제조치 하여야 한다.</p>

        <h4>제14조(장비관리)</h4>
        <ol>
            <li>책임관은 CCTV장비에 대해 별지 제1호 서식의 CCTV 운영·관리 기록부에 따라 월 1회 점검을 실시하고, 점검결과를 기록·유지하여야 한다.</li>
            <li>책임관은 CCTV장비에 장애가 발생한때에는 즉시 수리하여 신속히 원상복구 될 수 있도록 조치하여야 한다.</li>
        </ol>

        <h3>제4장 보칙</h3>

        <h4>제15조(사무의 위탁)</h4>
        <ol>
            <li>책임관은 CCTV 설치 운영·관리 등 필요한 사무를 위탁하는 경우에 화상정보가 오·남용되지 않도록 필요한 안전조치를 취하고, 수탁자에 대하여 관리·감독하도록 하여야 한다.</li>
            <li>제1항의 경우 수탁자로서 화상정보에 대하여 접근권한을 부여받은 자는 제12조제3항에 따른 교육을 이수하여야 한다.</li>
        </ol>

        <h4>제16조(비밀유지의무)</h4>
        <p>화상정보를 처리하거나 처리하였던 자는 직무상 알게 된 화상정보를 누설 또는 권한 없이 처리하거나 타인의 이용에 제공하는 등 부당한 목적을 위하여 사용하여서는 안 된다.</p>

        <h4>제17조(준용규정)</h4>
        <p>이 지침에서 정하는 않은 사항에 대해서는 「영상정보처리기기 설치․운영 가이드라인(행정자치부, 2015.)」, 「개인정보보호법」,「아동복지법」,「영유아보육법」,「통신비밀보호법」,「행정절차법」등을 준용한다.</p>
    </section>
{% endblock %}
