{% extends '../index.html' %}

{% block subject %}
    <h2>어린이집 DB 검색</h2>
    <ol class="breadcrumb">
        <li>
            <a href="/">처음</a>
        </li>
        <li class="active">
            <strong>어린이집 DB 검색</strong>
        </li>
    </ol>
{% endblock %}

{% block content %}
준비중
{% endblock %}
