{% extends '../index.html' %}

{% block content %}
    <section class="page-title">
        <div class="container">
            <header>
                <ul class="breadcrumb">
                    <li><a href="/">처음으로</a></li>
                    <li class="active">팸플릿</li>
                </ul>
                <h2 style="border-bottom: 0">
                    팸플릿
                </h2>
            </header>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <img class="img-responsive animate_fade_in" src="/images/pamphlet0.png" width="90%" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="text-center">
                <img class="img-responsive animate_fade_in" src="/images/pamphlet1.jpg" width="90%" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <img class="img-responsive animate_fade_in" src="/images/pamphlet2.jpg" width="90%" alt="">
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="text-center">
                <img class="img-responsive animate_fade_in" src="/images/pamphlet3.jpg" width="90%" alt="">
            </div>
        </div>
    </section>
{% endblock %}
